<div class="auth-background">
  <section class="container">
    <div class="auth-layout register">
      <div class="image-holder">
        <picture>
          <source media="(min-width:650px)" srcset="/images/desktop/auth/register-image.svg">
          <source media="(min-width:465px)" srcset="/images/desktop/auth/register-image.svg">
          <img ngSrc="/images/mobile/auth/register-image.svg"
               alt="welcoming people"
               height="500"
               width="750">
        </picture>
      </div>
      <div class="form-holder">
        <h2>Радваме се да се запознаем!</h2>
        <p>Вече имаш профил? <a routerLink="/auth/login">Вход</a></p>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group-name-and-surname">
            <div class="form-group">
              <label>Име</label>
              <input class="main-input"
                     type="text"
                     placeholder="Карина"
                     formControlName="firstName">
              <div *ngIf="firstName?.touched && firstName?.errors?.['required']" class="alert">* задължително</div>
            </div>
            <div class="form-group">
              <label>Фамилия</label>
              <input class="main-input"
                     type="text"
                     placeholder="Иванова"
                     formControlName="lastName">
              <div *ngIf="lastName?.touched && lastName?.errors?.['required']" class="alert">* задължително</div>
            </div>
          </div>
          <div class="form-group">
            <label>Имейл</label>
            <input class="main-input"
                   type="email"
                   placeholder="karina.ivanova@gmail.com"
                   formControlName="email"
                   [ngClass]="{'ng-invalid': email?.touched && email?.invalid}">
            <div *ngIf="email?.touched && email?.errors?.['required']" class="alert">* задължително</div>
            <div *ngIf="email?.touched && email?.errors?.['email']" class="alert">* въведи валиден имейл</div>
            <div *ngIf="email?.touched && email?.errors?.['minLength'] || email?.touched && email?.errors?.['maxLength']" class="alert">* най-малко 3 символа и най-много 50</div>
          </div>
          <div class="form-group">
            <label>Телефонен номер</label>
            <input class="main-input"
                   type="tel"
                   placeholder="0888990865"
                   formControlName="phoneNumber">
            <div *ngIf="phoneNumber?.touched && phoneNumber?.errors?.['required']" class="alert">* задължително</div>
            <div *ngIf="phoneNumber?.touched && phoneNumber?.errors?.['pattern']" class="alert">* въведи валиден телефонен номер</div>
          </div>
          <div class="form-group">
            <label>Парола</label>
            <input class="main-input"
                   type="password"
                   formControlName="password">
            <div *ngIf="password?.touched && password?.errors?.['required']" class="alert">* задължително</div>
          </div>
          <div class="form-group">
            <label>Повтори паролата</label>
            <input class="main-input"
                   type="password"
                   formControlName="confirmPassword">
          </div>
          <div *ngIf="passwordMatchError" class="alert">* Паролите не съвпадат</div>
          <button class="btn primary-button">Регистрирай се</button>
        </form>
      </div>
    </div>
  </section>
</div>
