@use '../abstracts/colors';
@use '../abstracts/typography';

.btn {
  border: none;
  cursor: pointer;
}

.primary-button {
  padding-block: 15px;
  width: 350px;
  display: flex;
  justify-content: center;
  font-weight: typography.$medium;
  background-color: colors.$accent-color;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.primary-button:hover {
  //border: 1px solid colors.$primary-text-color;
  //font-weight: typography.$bold;
  //background-color: #F7621D;
  //color: #4A2A26;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: typography.$bold;
  background-color: darken(colors.$accent-color, 10%);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.secondary-button {
  padding: 10px 30px;
  font-weight: typography.$medium;
  background-color: colors.$accent-color;
  color: colors.$primary-text-color;
  border-radius: 10px;
  cursor: pointer;
}

.secondary-button-small {
  padding: 5px 20px;
  background-color: colors.$accent-color;
  color: colors.$primary-text-color;
  border-radius: 10px;
  cursor: pointer;
}

.auth-google {
  padding-block: 15px;
  width: 350px;
  display: flex;
  justify-content: center;
  background-color: colors.$secondary-background;
  border-radius: 5px;
}

.right-button-holder {
  display: flex;
  justify-content: flex-end;
}
