<section class="become-sitter">
  <img class="paw-decoration" src="/images/desktop/home/paw-decoration.png" alt="">

  <div class="container become-sitter-container">
    <div class="left">
      <div class="image-holder">
        <img class="sitter-image" src="/images/shared/become-sitter-home.png" alt="">
      </div>
      <span class="sitter-name">Филип Александров</span>
      <p>Първата стъпка е да се представиш по най-добрия начин! Качи своя снимка, напиши кратко представяне и сподели своя опит с животните. Превлечи първите си клиенти!</p>
      <span>Специалист по:</span>
      <div class="specialties">
        <div class="service">
          <span>разходки</span>
        </div>
        <div class="service">
          <span>дневни грижи</span>
        </div>
      </div>
    </div>
    <div class="right">
      <h2 class="become-sitter-title">Стани гледач на домашни любимци в 3 лесни стъпки! 🐾</h2>
      <p class="become-sitter-description">Обичаш животните и искаш да прекарваш повече време с тях, като същевременно си изкарваш допълнителни доходи?
        Регистрирай се като гледач на домашни любимци и започни да предлагаш услугите си още днес!</p>

      <div class="steps">
        <div class="step first-step">
          <div class="step-number">
            1
          </div>
          <h3 class="step-name">Създай профил, който привлича внимание</h3>
          <p class="step-description">Първата стъпка е да се представиш по най-добрия начин! Качи своя снимка, напиши кратко представяне и сподели своя опит с животните. Превлечи първите си клиенти!</p>
        </div>
        <div class="step second-step">
          <div class="step-number">
            2
          </div>
          <h3 class="step-name">Създай своята обява</h3>
          <p class="step-description">Първата стъпка е да се представиш по най-добрия начин! Качи своя снимка, напиши кратко представяне и сподели своя опит с животните. Превлечи първите си клиенти!</p>
        </div>
        <div class="step third-step">
          <div class="step-number">
            3
          </div>
          <h3 class="step-name">Ела на интервю!</h3>
          <p class="step-description">Първата стъпка е да се представиш по най-добрия начин! Качи своя снимка, напиши кратко представяне и сподели своя опит с животните. Превлечи първите си клиенти!</p>
        </div>
      </div>
    </div>
  </div>
</section>
