<section class="role-selection">
  <div class="heading">
    <h2>Регистрирай се</h2>
    <p>Избери своята роля</p>
  </div>
  <section class="roles">
    <div class="role role-owner"
         (click)="chooseRole('owner')">
      <h3>Аз съм собственик -></h3>
      <picture>
        <source media="(min-width:650px)" srcset="../../../../../../../Zoolandia/client/zoolandia-client/src/assets/images/desktop/role-owner.svg">
        <source media="(min-width:465px)" srcset="../../../../../../../Zoolandia/client/zoolandia-client/src/assets/images/desktop/role-owner.svg">
        <img src="../../../../../../../Zoolandia/client/zoolandia-client/src/assets/images/desktop/role-owner.svg" alt="owner playing with dog">
      </picture>
    </div>
    <div class="role role-sitter"
         (click)="chooseRole('sitter')">
      <h3>Аз съм гледач -></h3>
      <picture>
        <source media="(min-width:650px)" srcset="../../../../../../../Zoolandia/client/zoolandia-client/src/assets/images/desktop/role-sitter.svg">
        <source media="(min-width:465px)" srcset="../../../../../../../Zoolandia/client/zoolandia-client/src/assets/images/desktop/role-sitter.svg">
        <img src="../../../../../../../Zoolandia/client/zoolandia-client/src/assets/images/desktop/role-sitter.svg" alt="sitter training with cat">
      </picture>
    </div>
  </section>
</section>
