<img src="/images/desktop/pet/pet-create-left-blob.svg" class="pet-left-decoration" alt="decoration">
<section class="container pet-create-holder">
  <h2>Разкажи ни за твоя домашен любимец</h2>
  <form [formGroup]="petForm">
    <div class="pet-main-details-holder">
      <h3>Основна информация</h3>
      <div class="main-details-holder">
        <div class="carousel-holder">
          <button class="arrow left" (click)="previousPet()"><img src="/images/desktop/arrow-left.svg" alt="Arrow left"></button>
          <div class="carousel">
            <div *ngFor="let pet of pets; let i = index"
                 [class.selected]="pet === selectedPet"
                 class="carousel-item"
                 [hidden]="i !== currentIndex">
              <img [src]="'/images/desktop/pet/' + pet + '.svg'" alt="{{ pet }}" />
              <span>{{ getTranslatedPetName() }}</span>
            </div>
          </div>
          <button class="arrow right" (click)="nextPet()"><img src="/images/desktop/arrow-right.svg" alt="Arrow right"></button>
        </div>
        <div class="main-details">
          <div class="details-holder">
            <div class="common-fields">
              <app-image-upload [defaultImage]="pet.photoUrl"
                                (fileSelected)="onFileUpload($event)"
                                [width]="'100px'"
                                [height]="'100px'"></app-image-upload>
              <input type="text"
                     formControlName="name"
                     class="input-for-pet-name"
                     placeholder="Име"/>
              <div class="alert" *ngIf="name?.touched && name?.errors?.['required']">
                * Името е задължително.
              </div>
            </div>

            <div class="age-and-gender-fields">
              <div class="age-fields-holder" *ngIf="dynamicFields.includes('age')">
                <label for="age-years" class="pet-label">Възраст</label>
                <div class="age-fields" formGroupName="age">
                  <input type="number"
                         class="secondary-input age"
                         placeholder="Години"
                         id="age-years"
                         formControlName="years"
                         min="0"
                         [ngClass]="{'invalid-input': ageYears?.touched && ageYears?.invalid}">
                  <input type="number"
                         class="secondary-input age"
                         placeholder="Месеци"
                         id="age-months"
                         formControlName="months"
                         min="0" max="11"
                         [ngClass]="{'invalid-input': ageMonths?.touched && ageMonths?.invalid}">
                </div>
                <div class="alert" *ngIf="ageYears?.touched && ageYears?.errors?.['required'] || ageMonths?.touched && ageMonths?.errors?.['required']">
                  * задължително
                </div>
              </div>
              <div class="gender-fields">
                <label class="radio-button" [class.selected]="petForm.get('gender')?.value === Gender.Male" [title]="'Мъжко'">
                  <input
                    type="radio"
                    formControlName="gender"
                    [value]="Gender.Male"
                    class="hidden-radio"
                  />
                  <img src="/images/desktop/pet/gender-male.svg" alt="Male">
                </label>
                <label class="radio-button" [class.selected]="petForm.get('gender')?.value === Gender.Female" [title]="'Женско'">
                  <input
                    type="radio"
                    formControlName="gender"
                    [value]="Gender.Female"
                    class="hidden-radio"
                  />
                  <img src="/images/desktop/pet/gender-female.svg" alt="Female">
                </label>
              </div>
            </div>

            <div *ngIf="dynamicFields.includes('weight')" class="kilograms-fields-holder">
              <label for="weight" class="pet-label">Килограми</label>
              <div class="kilograms-fields">
                <button
                  id="weight"
                  type="button"
                  class="kilogram-option square-input"
                  [class.selected]="petForm.get('weight')?.value === '1'"
                  (click)="onKilogramSelect(1)"
                >
                  0-7 кг
                </button>
                <button
                  type="button"
                  class="kilogram-option square-input"
                  [class.selected]="petForm.get('weight')?.value === '2'"
                  (click)="onKilogramSelect(2)"
                >
                  8-20 кг
                </button>
                <button
                  type="button"
                  class="kilogram-option square-input"
                  [class.selected]="petForm.get('weight')?.value === '3'"
                  (click)="onKilogramSelect(3)"
                >
                  21-50 кг
                </button>
                <button
                  type="button"
                  class="kilogram-option square-input"
                  [class.selected]="petForm.get('weight')?.value === '4'"
                  (click)="onKilogramSelect(4)"
                >
                  50+ кг
                </button>
              </div>
            </div>
            <div *ngIf="dynamicFields.includes('breed')" class="breed-field-holder">
                  <span class="p-fluid">
                    <p-autoComplete
                      class="custom-autocomplete"
                      formControlName="breeds"
                      [suggestions]="items"
                      (completeMethod)="search($event)"
                      [field]="'name'"
                      [multiple]="true"
                      placeholder="Избери порода...">
                    </p-autoComplete>
                  </span>
            </div>
            <div class="alert" *ngIf="breed?.touched && breed?.errors?.['required']">
              * Изборът на поне една порода е задължителен.
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="/images/desktop/pet/pet-create-right-blob.svg" class="pet-right-decoration" alt="decoration">
    <div class="pet-additional-details-holder">
      <h3>Допълнителна информация</h3>
      <div class="additional-details">
        <div class="additional-detail">
          <div class="additional-detail-title">
            <img src="/images/desktop/pet/health-status.svg" alt="Иконка за здравословно състояние">
            <h4>Здравословно състояние</h4>
          </div>
          <div class="additional-detail-questions" formGroupName="healthStatus">
            <div class="question-holder">
              <span class="question">Ваксинирано ли е?</span>
              <div class="answer-options">
                <label class="radio-button" [class.selected]="petForm.get('healthStatus.isVaccinated')?.value === true">
                  <input
                    type="radio"
                    formControlName="isVaccinated"
                    [value]="true" class="hidden-radio"
                  />
                  Да
                </label>
                <label class="radio-button" [class.selected]="petForm.get('healthStatus.isVaccinated')?.value === false">
                  <input type="radio" formControlName="isVaccinated" [value]="false" class="hidden-radio" />
                  Не
                </label>
              </div>
            </div>
            <div class="question-holder">
              <span class="question">Кастрирано ли е?</span>
              <div class="answer-options">
                <label class="radio-button" [class.selected]="petForm.get('healthStatus.isCastrated')?.value === true">
                  <input
                    type="radio"
                    formControlName="isCastrated"
                    [value]="true"
                    class="hidden-radio"
                  />
                  Да
                </label>
                <label class="radio-button" [class.selected]="petForm.get('healthStatus.isCastrated')?.value === false">
                  <input
                    type="radio"
                    formControlName="isCastrated"
                    [value]="false"
                    class="hidden-radio"
                  />
                  Не
                </label>
              </div>
            </div>
            <div class="question-holder">
              <span class="question">Приема ли медикаменти?</span>
              <div class="answer-options">
                <label class="radio-button" [class.selected]="petForm.get('healthStatus.takesMedications')?.value === true">
                  <input
                    type="radio"
                    formControlName="takesMedications"
                    [value]="true"
                    class="hidden-radio"
                  />
                  Да
                </label>
                <label class="radio-button" [class.selected]="petForm.get('healthStatus.takesMedications')?.value === false">
                  <input
                    type="radio"
                    formControlName="takesMedications"
                    [value]="false"
                    class="hidden-radio"
                  />
                  Не
                </label>
              </div>
            </div>
            <div class="question-holder reversed">
              <span class="question">Хранителен режим</span>
              <div class="answer-options">
                <label
                  class="radio-button"
                  [class.selected]="petForm.get('healthStatus.hasEatingSchedule')?.value === 'once'"
                >
                  <input
                    type="radio"
                    formControlName="hasEatingSchedule"
                    [value]="'once'"
                    class="hidden-radio"
                  />
                  x1 дневно
                </label>
                <label
                  class="radio-button"
                  [class.selected]="petForm.get('healthStatus.hasEatingSchedule')?.value === 'twice'"
                >
                  <input
                    type="radio"
                    formControlName="hasEatingSchedule"
                    [value]="'twice'"
                    class="hidden-radio"
                  />
                  x2 дневно
                </label>
                <label
                  class="radio-button"
                  [class.selected]="petForm.get('healthStatus.hasEatingSchedule')?.value === 'other'"
                >
                  <input
                    type="radio"
                    formControlName="hasEatingSchedule"
                    [value]="'other'"
                    class="hidden-radio"
                  />
                  Друг
                </label>
              </div>
              <div *ngIf="petForm.get('healthStatus.hasEatingSchedule')?.value === 'other'" class="answer-options">
                <textarea
                  rows="5"
                  class="main-textarea"
                  placeholder="Опиши режима"
                  formControlName="otherDietaryNeeds"
                ></textarea>
              </div>
            </div>
            <div class="question-holder reversed">
              <span class="question">Здравословни проблеми</span>
              <div class="answer-options">
                <textarea rows="5"
                          class="main-textarea"
                          placeholder="Опиши ако има такива"
                          formControlName="healthProblems">
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="additional-detail">
          <div class="additional-detail-title">
            <img src="/images/desktop/pet/personality.svg" alt="Иконка за поведение и характер">
            <h4>Поведение и характер</h4>
          </div>
          <div class="additional-detail-questions" formGroupName="personality">
            <div class="question-holder">
              <span class="question">Характер</span>
              <div class="answer-options">
                <label class="radio-button" [class.selected]="petForm.get('personality.temperament')?.value === 'Спокоен'">
                  <input
                    type="radio"
                    formControlName="temperament"
                    [value]="'Спокоен'"
                    class="hidden-radio"
                  />
                  Спокоен
                </label>
                <label class="radio-button" [class.selected]="petForm.get('personality.temperament')?.value === 'Игрив'">
                  <input
                    type="radio"
                    formControlName="temperament"
                    [value]="'Игрив'"
                    class="hidden-radio"
                  />
                  Игрив
                </label>
                <label class="radio-button" [class.selected]="petForm.get('personality.temperament')?.value === 'Агресивен'">
                  <input
                    type="radio"
                    formControlName="temperament"
                    [value]="'Агресивен'"
                    class="hidden-radio"
                  />
                  Агресивен
                </label>
              </div>
            </div>
            <div class="question-holder">
              <span class="question">Дресирано ли е?</span>
              <div class="answer-options">
                <label class="radio-button" [class.selected]="petForm.get('personality.isTrained')?.value === 1">
                  <input
                    type="radio"
                    formControlName="isTrained"
                    [value]="1"
                    class="hidden-radio"
                  />
                  Да
                </label>
                <label class="radio-button" [class.selected]="petForm.get('personality.isTrained')?.value === 2">
                  <input
                    type="radio"
                    formControlName="isTrained"
                    [value]="2"
                    class="hidden-radio"
                  />
                  Не
                </label>
                <label class="radio-button" [class.selected]="petForm.get('personality.isTrained')?.value === 3">
                  <input
                    type="radio"
                    formControlName="isTrained"
                    [value]="3"
                    class="hidden-radio"
                  />
                  Не съм сигурен
                </label>
              </div>
            </div>
            <div class="question-holder">
              <span class="question">Страхове</span>
              <div class="answer-options">
                <label
                  class="radio-button"
                  [class.selected]="petForm.get('personality.hasFears')?.value === 1"
                >
                  <input
                    type="radio"
                    formControlName="hasFears"
                    [value]="1"
                    class="hidden-radio"
                  />
                  Не
                </label>
                <label
                  class="radio-button"
                  [class.selected]="petForm.get('personality.hasFears')?.value === 2"
                >
                  <input
                    type="radio"
                    formControlName="hasFears"
                    [value]="2"
                    class="hidden-radio"
                  />
                  Да
                </label>
              </div>
            </div>
            <div *ngIf="petForm.get('personality.hasFears')?.value === 2" class="answer-options fears-description">
                <textarea
                  rows="5"
                  class="main-textarea"
                  placeholder="От шум, коли...."
                  formControlName="fearsDescription"
                ></textarea>
            </div>
            <div class="question-holder">
              <span class="question">Ниво на енегрия</span>
              <div class="progress-container">
                <span class="start">1</span>
                <div class="progress-bar">
                  <div
                    class="progress-segment"
                    *ngFor="let step of steps; let i = index"
                    [ngClass]="{'active': i < petForm.get('personality.activityLevel')?.value}"
                    (click)="setActivityLevel(i + 1)">
                  </div>
                </div>
                <span class="end">10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="save-pet">
      <button (click)="editPet()" class="btn secondary-button">Редактирай</button>
    </div>
  </form>
</section>
