@use '../../../../style/abstracts/typography';
@use '../../../../style/abstracts/colors';

.page-access-denied-holder {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .page-access-denied {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-image {
      height: 60%;
    }

    &-text {
      margin-bottom: 20px;
      font-size: typography.$font-size-xl;
      text-align: center;
    }

    button {
      margin-top: 30px;
    }
  }
}
