@use '../../../../style/abstracts/typography';
@use '../../../../style/abstracts/colors';
@use '../../../../style/breakpoints/breakpoints' as *;

.page-access-denied-holder {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .page-access-denied {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
    }

    &-image {
      height: 60%;
    }

    &-text {
      margin-bottom: 20px;
      font-size: typography.$font-size-xl;
      text-align: center;
    }

    button {
      margin-top: 30px;
    }
  }

  @include for-phone-only {

    .page-access-denied {
      width: 90%;

      &-image {
        height: 300px;
      }

      h1 {
        font-size: typography.$font-size-lg;
      }

      &-text {
        font-size: typography.$font-size-md;
        text-align: center;
      }
    }
  }
}
