@use '../../../../../style/abstracts/colors';
@use '../../../../../style/abstracts/typography';

.my-post-holder {
  padding: 120px 116px 116px 102px;
  display: flex;
  flex-direction: column;
  gap: 80px;

  .my-post-details-holder {

    h2 {
      margin-bottom: 40px;
      font-size: typography.$font-size-2xl;
    }

    .my-post-details {
      display: flex;
      align-items: center;
      gap: 40px;

      .my-post-detail {
        position: relative;
        padding: 34px 50px;
        min-width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        border-radius: 20px;
        border: 1px solid colors.$primary-text-color;
        cursor: pointer;
        overflow: hidden;
        transition: background-color 0.3s ease, transform 0.3s ease;

        img {
          width: 100px;
        }

        span {
          font-weight: typography.$bold;
        }
      }

      .my-post-detail:hover {
        transform: scale(1.05);
        border: none;

        .overlay {
          opacity: 0.9;
        }

        .action-buttons {
          opacity: 1;
          pointer-events: auto;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: colors.$accent-color;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
      }

      .action-buttons {
        position: absolute;
        top: 40%;
        z-index: 2;
        display: flex;
        justify-content: center;
        gap: 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;

        button {
          background-color: transparent;

          img {
            width: 35px;
          }
        }
      }
    }
  }
}
