<section class="my-post-holder">
  <div class="my-post-details-holder services">
    <h2>Моите услуги</h2>
    <div class="my-post-details">
      <div *ngFor="let service of post.services">
        <div *ngIf="service.name == 'DogWalking'"
             class="my-post-detail">
          <div class="overlay"></div>
          <img src="/images/desktop/post/service-walking.svg" alt="Разходки">
          <span>Разходки</span>
          <div class="action-buttons">
            <button class="btn"><img src="/images/shared/edit.svg" alt="Редактирай"></button>
            <button class="btn"><img src="/images/shared/view-more.svg" alt="Виж повече"></button>
            <button class="btn"><img src="/images/shared/delete.svg" alt="Изтрий"></button>
          </div>
        </div>
        <div *ngIf="service.name == 'DailyCare'"
             class="my-post-detail">
          <div class="overlay"></div>
          <img src="/images/desktop/post/service-daily-care.svg" alt="Днавна грижа">
          <span>Дневна грижа</span>
          <div class="action-buttons">
            <button class="btn"><img src="/images/shared/edit.svg" alt="Редактирай"></button>
            <button class="btn"><img src="/images/shared/view-more.svg" alt="Виж повече"></button>
            <button class="btn"><img src="/images/shared/delete.svg" alt="Изтрий"></button>
          </div>
        </div>
        <div *ngIf="service.name == 'PetSitting'"
             class="my-post-detail">
          <div class="overlay"></div>
          <img src="/images/desktop/post/service-pet-boarding.svg" alt="Престой">
          <span>Престой</span>
          <div class="action-buttons">
            <button class="btn"><img src="/images/shared/edit.svg" alt="Редактирай"></button>
            <button class="btn"><img src="/images/shared/view-more.svg" alt="Виж повече"></button>
            <button class="btn"><img src="/images/shared/delete.svg" alt="Изтрий"></button>
          </div>
        </div>
        <div *ngIf="service.name == 'Training'"
             class="my-post-detail">
          <div class="overlay"></div>
          <img src="/images/desktop/post/service-pet-training.svg" alt="Тренировки">
          <span>Тренировки</span>
          <div class="action-buttons">
            <button class="btn"><img src="/images/shared/edit.svg" alt="Редактирай"></button>
            <button class="btn"><img src="/images/shared/view-more.svg" alt="Виж повече"></button>
            <button class="btn"><img src="/images/shared/delete.svg" alt="Изтрий"></button>
          </div>
        </div>
      </div>
      <div *ngIf="post.services.length <= 4">

      </div>
      + Добави услуга
    </div>
  </div>
  <div class="my-post-details-holder services">
    <h2>Предлагам грижи за:</h2>
    <div class="my-post-details">
      <div *ngFor="let pet of post.pets">
        <div *ngIf="pet == 1"
             class="my-post-detail">
          <img src="/images/shared/dog.svg" alt="Куче">
          <span>Куче</span>
        </div>
        <div *ngIf="pet == 2"
             class="my-post-detail">
          <img src="/images/shared/cat.svg" alt="Котка">
          <span>Котка</span>
        </div>
      </div>
    </div>
  </div>
</section>
