@use '../../../../../style/abstracts/typography';
@use '../../../../../style/abstracts/colors';
@use '../../../../../style/breakpoints/breakpoints' as *;

.pet-left-decoration {
  position: absolute;
  top: 0;
  left: 0;

  @include for-phone-only {
    display: none;
  }
}

.pet-create-holder {
  padding-top: 112px;

  h2 {
    text-align: center;
    font-size: typography.$font-size-2xl;
  }

  .pet-main-details-holder {
    margin-top: 73px;

    h3 {
      margin: 0 auto;
      padding: 10px 20px;
      width: fit-content;
      font-size: typography.$font-size-xl;
      background-color: colors.$secondary-text-color;
      color: white;
      border-radius: 20px;
    }

    .main-details-holder {
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .carousel-holder {
        display: flex;
        align-items: center;
        position: relative;

        .arrow {
          padding: 0 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 24px;
          color: #333;
          background: none;
          border: none;
          cursor: pointer;
        }

        .arrow.left {
          left: 0;
        }

        .arrow.right {
          right: 0;
        }

        .arrow:hover {
          color: #000;
        }

        .carousel {
          display: flex;
          justify-content: center;
          flex-wrap: nowrap;
          overflow: hidden;
          width: 600px;

          .carousel-item {
            display: none;
            flex: 0 0 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 500px;
            height: 600px;

            span {
              margin-top: 14px;
              font-size: typography.$font-size-2xl;
              font-weight: typography.$semi-bold;
            }
          }

          .carousel-item.selected {
            display: flex;
          }
        }
      }

      .main-details {
        padding: 30px 55px 30px 55px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: colors.$secondary-background;
        border-radius: 40px;

        .details-holder {
          display: flex;
          flex-direction: column;
          gap: 27px;

          .common-fields {
            display: flex;
            align-items: center;
            gap: 26.5px;

            .input-for-pet-name {
              padding-bottom: 10px;
              width: 200px;
              font-size: typography.$font-size-lg;
              font-weight: typography.$black;
              border-bottom: 2px solid colors.$secondary-text-color;
            }

            .input-for-pet-name::placeholder {
              font-size: typography.$font-size-lg;
            }

            .input-for-pet-name:focus {
              outline: none;
              border: none;
              border-bottom: 2px solid colors.$secondary-text-color;
            }
          }

          .age-and-gender-fields {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .age-fields-holder {

              .age-fields {
                display: flex;
                gap: 10px;

                .age {
                  width: 100px;
                }
              }
            }

            .gender-fields {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 4px;
            }
          }

          .kilograms-fields-holder {

            .kilograms-fields {
              display: flex;
              justify-content: space-between;
              gap: 11px;

              .kilogram-option {
                font-size: typography.$font-size-md;
              }

              .kilogram-option.selected {
                background-color: colors.$accent-color;
              }
            }
          }

          .breed-field-holder {
            display: flex;
            flex-direction: column;

            ::ng-deep.p-autocomplete-multiple {
              height: 50px;

              .p-autocomplete-multiple-container {
                padding-inline: 10px;
                border: 1px solid colors.$secondary-background;

                .p-autocomplete-input-token {
                  padding-inline: 10px;
                }

                .p-autocomplete-token {
                  padding: 5px;
                  font-size: typography.$font-size-sm;
                  background-color: colors.$accent-color;
                  border-radius: 10px;
                  gap: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  .pet-right-decoration {
    position: absolute;
    right: 0;
  }

  .pet-additional-details-holder {
    position: relative;
    margin-top: 141px;
    margin-bottom: 50px;

    h3 {
      margin: 0 auto;
      padding: 10px 20px;
      width: fit-content;
      font-size: typography.$font-size-xl;
      border: 1px solid colors.$secondary-text-color;
      border-radius: 20px;
    }

    .additional-details {
      margin-top: 100px;
      display: flex;
      gap: 120px;

      .additional-detail {
        &-title {
          margin-bottom: 60px;
          display: flex;
          align-items: center;
          gap: 21px;

          h4 {
            font-size: typography.$font-size-xl;
          }
        }

        .additional-detail-questions {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .question-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .question {
              font-size: typography.$font-size-md;
              font-weight: typography.$bold;
            }

            .answer-options {
              max-width: 100%;
              display: flex;
              justify-content: space-between;
              gap: 15px;

              textarea {
                width: 100%;
              }

              .radio-button {
                background-color: colors.$secondary-background;

                &.selected {
                  background-color: colors.$accent-color;
                }
              }

            }

            .progress-container {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 5px;

              .start, .end {
                font-size: 1rem;
                font-weight: bold;
              }

              .progress-bar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-grow: 1;
                gap: 5px;

                .progress-segment {
                  width: 20px;
                  height: 10px;
                  background-color: colors.$secondary-background;
                  border-radius: 3px;
                  cursor: pointer;
                  transition: background-color 0.3s ease;
                }

                .progress-segment.active {
                  background-color: colors.$accent-color;
                }
              }
            }
          }

          .reversed {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            .answer-options {
              width: 100%;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  .save-pet {
    display: flex;
    justify-content: flex-end;
  }

  @include for-phone-only {
    padding-top: 50px;

    h2 {
      font-size: typography.$font-size-lg;
    }

    .pet-main-details-holder {
      margin-top: 20px;

      h3 {
        font-size: typography.$font-size-lg;
      }

      .main-details-holder {
        margin-top: 50px;
        flex-direction: column;

        .carousel-holder {

          .arrow {
            padding: 0;
            width: 60px;
          }

          .carousel {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            overflow: hidden;
            width: 400px;

            .carousel-item {
              display: none;
              flex: 0 0 100%;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 300px;
              height: 250px;

              img {
                width: 200px;
              }
            }

            .carousel-item.selected {
              display: flex;
            }
          }
        }

        .main-details {
          margin-top: 40px;
          padding: 30px 10px 30px 10px;

          .details-holder {
            display: flex;
            flex-direction: column;
            gap: 27px;

            .kilograms-fields-holder {

              .kilograms-fields {
                display: flex;
                justify-content: space-between;

                .kilogram-option {
                  font-size: typography.$font-size-sm;
                }

                .square-input {
                  width: 80px;
                  height: 80px;
                }

                .kilogram-option.selected {
                  background-color: colors.$accent-color;
                }
              }
            }

            .breed-field-holder {
              display: flex;
              flex-direction: column;

              ::ng-deep.p-autocomplete-multiple {
                height: 50px;

                .p-autocomplete-multiple-container {
                  padding-inline: 10px;
                  border: 1px solid colors.$secondary-background;

                  .p-autocomplete-input-token {
                    padding-inline: 10px;
                  }

                  .p-autocomplete-token {
                    padding: 5px;
                    font-size: typography.$font-size-sm;
                    background-color: colors.$accent-color;
                    border-radius: 10px;
                    gap: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .pet-right-decoration {
      display: none;
    }

    .pet-additional-details-holder {
      margin-top: 70px;

      h3 {
        font-size: typography.$font-size-lg;
      }

      .additional-details {
        margin-top: 50px;
        flex-direction: column;
        gap: 60px;

        .additional-detail {
          &-title {
            margin-bottom: 30px;
            padding-inline: 20px;

            h4 {
              font-size: typography.$font-size-lg;
            }
          }

          .additional-detail-questions {
            padding-inline: 20px;
            gap: 15px;

            .question-holder {
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;

              .question {
                font-size: typography.$font-size-sm;
              }

              .answer-options {

                .radio-button {
                  font-size: typography.$font-size-sm;
                }

              }
            }

            .reversed {
              flex-direction: column;
              align-items: flex-start;
              gap: 15px;

              .answer-options {
                width: 100%;
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }

    .save-pet {
      padding-bottom: 30px;
    }
  }
}

.pet-label {
  font-size: typography.$font-size-md;
  font-weight: typography.$semi-bold;
}

