<img src="/images/desktop/pet/pet-create-left-blob.svg" class="pet-left-decoration" alt="decoration">
<section class="container pet-create-holder">
  <h2>Разкажи ни за твоя домашен любимец</h2>
  <div class="pet-main-details-holder">
    <h3>Основна информация</h3>
    <div class="main-details">
      <div class="carousel-holder">
        <button class="arrow left" (click)="previousPet()"><img src="/images/desktop/arrow-left.svg" alt="Arrow left"></button>
        <div class="carousel">
          <div *ngFor="let pet of pets; let i = index"
               [class.selected]="pet === selectedPet"
               class="carousel-item"
               [hidden]="i !== currentIndex">
            <img [src]="'/images/desktop/pet/' + pet + '.svg'" alt="{{ pet }}" />
            <span>{{ getTranslatedPetName() }}</span>
          </div>
        </div>
        <button class="arrow right" (click)="nextPet()"><img src="/images/desktop/arrow-right.svg" alt="Arrow right"></button>
      </div>
      <div class="form">
        <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
          <div class="common-fields">
            <app-image-upload [defaultImage]="defaultImage"
                              (fileSelected)="onFileUpload($event)"
                              [width]="'100px'"
                              [height]="'100px'"></app-image-upload>
            <input type="text"
                   formControlName="name"
                   class="input-for-pet-name"
                   placeholder="Име"/>
          </div>

          <div class="age-and-gender-fields">
            <div class="age-fields-holder" *ngIf="dynamicFields.includes('years') || dynamicFields.includes('months')">
              <label for="age" class="pet-label">Възраст</label>
              <div class="age-fields">
                <input type="text" class="secondary-input age" placeholder="Години" id="age" formControlName="years">
                <input type="text" class="secondary-input age" placeholder="Месеци" formControlName="months">
              </div>
            </div>
            <div class="gender-fields-holder">
              <label class="gender-icon" [class.selected]="petForm.get('gender')?.value === Gender.Male">
                <input
                  type="radio"
                  formControlName="gender"
                  [value]="Gender.Male"
                  class="hidden-radio"
                />
                <img src="/images/desktop/pet/gender-male.svg" alt="Male">
              </label>

              <label class="gender-icon" [class.selected]="petForm.get('gender')?.value === Gender.Female">
                <input
                  type="radio"
                  formControlName="gender"
                  [value]="Gender.Female"
                  class="hidden-radio"
                />
                <img src="/images/desktop/pet/gender-female.svg" alt="Female">
              </label>
            </div>
          </div>

          <div *ngIf="dynamicFields.includes('weight')" class="kilograms-fields-holder">
            <label for="weight" class="pet-label">Килограми</label>
            <div class="kilograms-fields">
              <button
                id="weight"
                type="button"
                class="kilogram-option square-input"
                [class.selected]="petForm.get('weight')?.value === '1'"
                (click)="onKilogramSelect(10)"
              >
                0-7 кг
              </button>
              <button
                type="button"
                class="kilogram-option square-input"
                [class.selected]="petForm.get('weight')?.value === '2'"
                (click)="onKilogramSelect(20)"
              >
                8-20 кг
              </button>
              <button
                type="button"
                class="kilogram-option square-input"
                [class.selected]="petForm.get('weight')?.value === '3'"
                (click)="onKilogramSelect(30)"
              >
                21-50 кг
              </button>
              <button
                type="button"
                class="kilogram-option square-input"
                [class.selected]="petForm.get('weight')?.value === '4'"
                (click)="onKilogramSelect(40)"
              >
                50+ кг
              </button>
            </div>
          </div>

          <div *ngIf="dynamicFields.includes('breed')" class="breed-field-holder">
            <label for="breed" class="pet-label">Порода</label>
            <input id="breed" type="text" class="secondary-input">
          </div>

          <div class="save-pet">
            <button type="submit" class="btn secondary-button" [disabled]="!petForm.valid">Запази</button>
          </div>
        </form>
      </div>
      </div>
    </div>
  <img src="/images/desktop/pet/pet-create-right-blob.svg" class="pet-right-decoration" alt="decoration">
  <div class="pet-additional-details-holder">
    <h3>Допълнителна информация</h3>
  </div>
</section>
