@use '../../../../../style/abstracts/colors';
@use '../../../../../style/abstracts/typography';

.profile-container {
  display: flex;

  .sidebar {
    padding: 70px 70px 0 0;
    width: 350px;
    background-color: colors.$secondary-background;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .go-back {
      margin-bottom: 30px;
      padding-left: 37px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;

      img {
        margin-top: -5px;
        width: 25px;
      }

      span {
        font-size: typography.$font-size-md;
        font-weight: typography.$semi-bold;
      }
    }

    picture {
      padding-left: 37px;
      cursor: pointer;
    }

    ul {
      margin-top: 85px;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 35px;
      list-style: none;

      li {

        a {
          padding-left: 37px;
          font-size: typography.$font-size-md;
          font-weight: typography.$semi-bold;
          color: colors.$primary-text-color;
        }

        a.active {
          padding: 18px 65px 18px 37px;
          color: white;
          background-color: colors.$secondary-text-color;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }
  }

  .profile-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
}
