@use "base/reset";
@use 'abstracts/colors';
@use 'components/buttons';
@use 'abstracts/typography';

body {
  background-color: colors.$primary-background;
}

.container {
  --max-width: 1196px;
  --padding: 16px;

  width: min(var(--max-width), 100% - 2*var(--padding));
  margin-inline: auto;
}

.auth-background {
  background-image: url("../public/images/desktop/auth/auth-background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-layout {
  height: 100vh;
  display: flex;
  align-items: center;
}

.form-holder {
  width: 350px;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: typography.$font-size-2xl;
    line-height: 55px;
  }

  p {
    margin-block: 10px 33px;

    a {
      color: colors.$accent-color;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-preferences {
  margin-block: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;

  input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid colors.$accent-color;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: colors.$accent-color;
      color: white;

      &::after {
        content: "";
        position: absolute;
        left: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}

label {
  font-weight: typography.$semi-bold ;
}

input {
  background: transparent;
  border: none;
}

.invalid-input {
  background: colors.$danger-color;
  border: 1px solid colors.$danger-darker-color;
}

.main-input {
  padding: 15px 20px;
  background: colors.$secondary-background;
  border-radius: 5px;
}

.main-input::placeholder {
  color: colors.$primary-text-color;
  opacity: 60%;
}

.main-input:focus {
  border: 1px solid red;
}

.main-input.ng-invalid.ng-touched {
  border: 1px solid colors.$danger-darker-color;
  background-color: colors.$danger-color;
}

.secondary-input {
  padding: 10px 20px;
  background-color: colors.$primary-background;
  border-radius: 10px;
}

.square-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-weight: typography.$black;
  background-color: colors.$primary-background;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.square-input:hover {
  background-color: colors.$accent-color;
}

.square-input.selected {
  background-color: colors.$accent-color;
}


.main-textarea {
  background-color: colors.$secondary-background;
  border-radius: 5px;
}

.main-textarea {
  padding: 20px;
}

//Profile

.profile-decoration-right {
  position: absolute;
  top: 10px;
  right: 0;
}

.profile-decoration-left {
  position: absolute;
  top: 0;
  left: 0;
}

.create-profile-holder {
  position: relative;
  margin-block: 74px 84px;
  padding-inline: 122px;

  form {
    .profile-input:focus {
      outline: none;
      border: none;
    }

    .create-profile-head {
      padding-bottom: 23px;
      display: flex;
      align-items: center;
      gap: 44px;
      border-bottom: 1px solid colors.$primary-text-color;

      .profile-name {
        display: flex;
        flex-direction: column;
        color: colors.$primary-text-color;
        font-size: typography.$font-size-2xl;
        font-weight: typography.$bold;

        input:focus {
          border: none !important;
        }
      }
    }

    .create-profile-main {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 33px;

      &-left-side {
        display: flex;
        flex-direction: column;
        gap: 47px;

        .form-sections-heading {
          display: flex;
          align-items: center;
          gap: 13px;

          span {
            font-size: typography.$font-size-lg;
            font-weight: typography.$bold;
          }
        }

        .contacts {
          .contacts-main-holder {
            max-width: 500px;
            margin-top: 24px;
            padding-left: 50px;
            display: flex;
            gap: 40px;

            .contact {
              display: flex;
              flex-direction: column;
              gap: 13px;

              label {
                font-size: typography.$font-size-md;
              }

              input {
                font-size: typography.$font-size-md;
              }
            }
          }
        }

        .location {
          &-holder {
            margin-top: 17px;

            input {
              width: 60%;
            }
          }
        }
      }

      &-right-side {
        display: flex;
        justify-content: center;
        align-items: center;

        .animals-holder {

          .add-animal-holder {
            padding: 87px 128px;
            border: 1px solid colors.$primary-text-color;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .complete-profile {
    display: flex;
    justify-content: flex-end;
  }
}

//Animal
.add-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
