@use '../../../../../style/abstracts/typography';
@use '../../../../../style/abstracts/colors';
@use '../../../../../style/breakpoints/breakpoints' as *;

.status {
  margin-bottom: 50px;
  width: 100%;
  padding: 5px;
  border-radius: 3px;

  span {
    font-weight: typography.$semi-bold;
  }
}

.not-activated {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pending {
  background-color: #808080;
  color: grey;
}

.approved {
  display: flex;
  align-items: center;
}

.approved::before {
  content: "✔";
  color: colors.$approve-color;
  font-size: 24px;
  margin-right: 5px;
}

.disapproved {
  background-color: colors.$danger-color;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

google-map {
  width: 500px;
}

@include for-phone-only {
  .status {
    margin-bottom: 0;
  }

  //google-map {
  //  width: 100% !important;
  //  height: 250px !important;
  //
  //  .map-container {
  //    width: 100%
  //  }
  //}

  .edit {
    right: 0;
    top: 80px;
  }

  //.my-profile-head {
  //
  //  .profile-image {
  //    width: auto;
  //  }
  //}
  //
  //.my-profile-main {
  //  &-section {
  //    p {
  //      width: 100%;
  //    }
  //
  //    .contacts {
  //      flex-direction: column;
  //      align-items: flex-start;
  //    }
  //  }
  //}
}
