<img class="profile-decoration-bottom-right" src="/images/desktop/profile/profile-bottom-right-blob.svg" alt="">
<div class="my-profile-holder">
  <div class="right-button-holder">
    <button class="secondary-button-small" (click)="openActivateModal(profile.id)">Активирай профила</button>
  </div>
  <a routerLink="/profile/edit" class="edit"><img src="/images/shared/edit.svg" alt="edit"></a>
  <div class="my-profile-head">
    <div class="profile-image">
      <img [src]="profile.photoUrl" alt="Your profile image">
    </div>
    <div class="my-profile-names">
      <span>{{ profile.firstName }}</span>
      <span>{{ profile.lastName }}</span>
    </div>
  </div>
  <div class="my-profile-main">
    <div class="my-profile-main-section">
      <div class="my-profile-main-section-title">
        <img src="/images/shared/additional-description.svg" alt="additional-description">
        <h2>Допълнително описание</h2>
      </div>
      <p>{{ profile.description }}</p>
    </div>
    <div class="my-profile-main-section">
      <div class="my-profile-main-section-title">
        <img src="/images/shared/contacts-icon.svg" alt="contacts">
        <h2>Контакти</h2>
      </div>
      <div class="contacts">
        <div class="contact">
          <h3>Имейл адрес</h3>
          <address>{{ profile.email }}</address>
        </div>
        <div class="contact">
          <h3>Телефонен номер</h3>
          <address>{{ profile.phoneNumber }}</address>
        </div>
      </div>
    </div>
    <div class="my-profile-main-section">
      <div class="my-profile-main-section-title">
        <img src="/images/shared/location-icon.svg" alt="location">
        <h2>Локация</h2>
      </div>
      <address>{{formattedAddress}}</address>
      <google-map height="300px" width="500px" [options]="mapOptions">
        <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
      </google-map>
    </div>
  </div>
</div>
<app-wrapper-modal></app-wrapper-modal>
