<img class="profile-decoration-bottom-right" src="/images/desktop/profile/profile-bottom-right-blob.svg" alt="">
<div class="my-profile-holder">
  <div class="profileStatus">
    <div class="status not-activated" *ngIf="profile?.postStatus == 1">
      <span>Профилът ти все още не е видим за собствениците на домашни любимци! Поправи тази грешка като го активираш!</span>
      <div class="right-button-holder">
        <button class="secondary-button-small" (click)="openActivateModal(profile.id)">Активирай профила</button>
      </div>
    </div>
    <div class="status pending" *ngIf="profile?.postStatus == 2">
      <span>Профилът ти е в процес на одобрение! Не се тревожи – съвсем скоро ще бъдеш готов да посрещнеш първите си клиенти!</span>
    </div>
    <div class="status disapproved" *ngIf="profile?.postStatus == 3">
      <span>За съжаление, профилът ти не беше одобрен. Но не се отказвай! Помисли върху възможните причини и, ако смяташ, че е станало недоразумение, свържи се с нашия администратор – ще се радваме да помогнем!</span>
    </div>
    <div class="status approved" *ngIf="profile?.postStatus == 4">
      <span>Одобрен</span>
    </div>
  </div>
  <a routerLink="/profile/edit" class="edit"><img src="/images/shared/edit.svg" alt="edit"></a>
  <div class="my-profile-head">
    <div class="profile-image">
      <img [src]="profile.photoUrl" alt="Your profile image">
    </div>
    <div class="my-profile-names">
      <span>{{ profile.firstName }}</span>
      <span>{{ profile.lastName }}</span>
    </div>
  </div>
  <div class="my-profile-main">
    <div class="my-profile-main-section" *ngIf="profile.description">
      <div class="my-profile-main-section-title">
        <img src="/images/shared/additional-description.svg" alt="additional-description">
        <h2>Допълнително описание</h2>
      </div>
      <p>{{ profile.description }}</p>
    </div>
    <div class="my-profile-main-section">
      <div class="my-profile-main-section-title">
        <img src="/images/shared/contacts-icon.svg" alt="contacts">
        <h2>Контакти</h2>
      </div>
      <div class="contacts">
        <div class="contact">
          <h3>Имейл адрес</h3>
          <address>{{ profile.email }}</address>
        </div>
        <div class="contact">
          <h3>Телефонен номер</h3>
          <address>{{ profile.phoneNumber }}</address>
        </div>
      </div>
    </div>
    <div class="my-profile-main-section">
      <div class="my-profile-main-section-title">
        <img src="/images/shared/location-icon.svg" alt="location">
        <h2>Локация</h2>
      </div>
      <address>{{formattedAddress}}</address>
      <google-map [height]="'250px'" [width]="'100%'" [options]="mapOptions">
        <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
      </google-map>
    </div>
    <div class="reviews" *ngIf="profile.reviews && profile.reviews.length > 0">
      <h2>Доверени отзиви от стопаните</h2>
      <div class="review" *ngFor="let review of reviews">
        <div class="review-header">
          <div class="profile-image-review">
            <img [src]="review.photoUrl" alt="reviewer image">
          </div>
          <div class="reviewer-and-date-info">
            <span>{{ review.firstName }} {{ review.lastName }}</span>
            <span>Ревю от {{ review.reviewDate }}</span>
          </div>
        </div>
        <div class="review-content">
          <p>{{ review.content }}</p>
          <p-rating
            [(ngModel)]="review.rating"
            [readonly]="true"
            [cancel]="false"
            stars="5"
          >
            <ng-template pTemplate="onicon">
              <img
                src="/images/shared/rating-active.png"
                width="20px"
                height="20px"
                alt="Paw Active"
              />
            </ng-template>

            <ng-template pTemplate="officon">
              <img
                src="/images/shared/rating-inactive.png"
                style="filter: grayscale(100%) opacity(0.4);"
                width="20px"
                height="20px"
                alt="Paw Inactive"
              />
            </ng-template>
          </p-rating>
        </div>
      </div>
    </div>
  </div>
</div>
<app-wrapper-modal></app-wrapper-modal>
