<div class="modal-dialog edit-service" role="document">
  <button
    type="button"
    class="close btn"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal.emit()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-content" [formGroup]="serviceForm">
    <div class="modal-header">
      <h3 class="modal-title"><img src="/images/shared/edit.svg" alt="Редактирай"> {{ config.title }}</h3>
    </div>
    <div class="modal-body">
      <div class="modal-body-item choose-available-dates">
        <div class="modal-body-item-title">
          <span class="step">1</span>
          <span>Направи свой график</span>
        </div>
        <p-calendar
          formControlName="availableDates"
          selectionMode="multiple"
          dataType="string"
          dateFormat="yy-mm-dd"
          [readonlyInput]="true"
          [inline]="true"
          [minDate]="today"
          class="custom-calendar">
        </p-calendar>
      </div>
      <div class="modal-body-item choose-price">
        <div class="modal-body-item-title">
          <span class="step">2</span>
          <span>Постави цена</span>
        </div>
        <div class="service-price">
          <input type="number"
                 min="1"
                 step="any"
                 placeholder="50"
                 class="price-input"
                 formControlName="price"/>
          <span>лв.</span>
        </div>
        <div class="alert" *ngIf="price?.touched && price?.errors?.['required']">
          * Цената е задължително поле.
        </div>
      </div>
      <div class="modal-body-item choose-meeting-place">
        <div class="modal-body-item-title">
          <span class="step">3</span>
          <span>Избери място за вземане на животното</span>
        </div>
        <div class="meeting-place-options">
          <label *ngFor="let option of meetingPlaceOptions; let i = index">
            <input
              type="checkbox"
              [value]="option.id"
              [checked]="serviceForm.get('meetingPlaces')?.value.includes(option.id)"
              (change)="onMeetingPlaceChange($event, option.id)">
            {{ option.name }}
          </label>
          <div class="alert" *ngIf="meetingPlaces?.touched && meetingPlaces?.errors?.['required']">
            * Място за вземане на животното е задължително поле.
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        *ngIf="config.action === 'edit' && config.type === 'editService'"
        type="button"
        class="btn secondary-button"
        data-dismiss="modal"
        (click)="editService(config.data)"
      >
        Запази
      </button>
    </div>
  </div>
</div>
