<div class="navigation-menu-logged-user nav-holder">
  <div class="nav-wrapper">
    <div class="left-side">
      <picture routerLink="/home">
        <source media="(max-width:1100px)" srcset="/images/desktop/logo.svg">
        <img src="/images/desktop/logo.svg" alt="logo">
      </picture>
    </div>
    <div class="profile-info">
      <div class="profile-info-name">
        <span>Админ</span>
      </div>
      <div class="nav-profile-image">
        <img  src="/images/shared/admin/admin-default-image.svg"
             class="profile-image-small"
              (click)="toggleOptions()"/>
        <div class="profile-options" #profileOptions  [class.visible]="optionsVisible">
          <p (click)="logout()">
            <img src="/images/shared/home/dropdown-options/logout.png" alt="Иконка на вратичка">
            Излез
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard">
  <table>
    <thead>
      <tr>
        <th scope="col">Автор</th>
        <th scope="col">Услуги</th>
        <th scope="col">Животни</th>
        <th scope="col">Опции</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pendingPost of pendingPosts">
        <td class="author">
          <img class="profile-image-small" [src]="pendingPost.photoUrl">
          {{ pendingPost.firstName }} {{ pendingPost.lastName }}
        </td>
        <td>
          <ng-container *ngFor="let serviceName of pendingPost.serviceNames; let last = last">
            {{ serviceName | translateService }}<span *ngIf="!last">, </span>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let animalType of pendingPost.animalTypes; let last = last">
            {{ animalType | animalType }}<span *ngIf="!last">, </span>
          </ng-container>
        </td>
        <td>
          <div class="options">
            <button class="btn" (click)="viewPost(pendingPost.profileId)">
              <img src="/images/shared/admin/view-more.png">
            </button>
            <button class="btn" (click)="approve(pendingPost.postId)">
              <img src="/images/shared/admin/activate.png">
            </button>
            <button class="btn" (click)="openReasonForRejectModal(pendingPost.postId)">
              <img src="/images/shared/admin/reject.png">
            </button>
          </div>
        </td>
      </tr>
    </tbody>
<!--    <tfoot>-->
<!--    <tr>-->
<!--      <th scope="row" colspan="2">Average age</th>-->
<!--      <td>33</td>-->
<!--    </tr>-->
<!--    </tfoot>-->
  </table>
</div>
<app-wrapper-modal></app-wrapper-modal>

