@use '../../../../../style/abstracts/typography';
@use '../../../../../style/abstracts/colors';
@use '../../../../../style/breakpoints/breakpoints' as *;

.my-pet-details-holder {
  display: flex;

  .left-column {
    position: relative;
    padding: 80px;
    width: 75%;
    display: flex;
    flex-direction: column;

    .edit-and-delete {
      position: absolute;
      top: 160px;
      right: 100px;
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        background-color: transparent;
      }
    }

    &-title {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      gap: 20px;

      h2 {
        font-size: typography.$font-size-xl;
      }
    }

    &-title:not(:first-child) {
      margin-top: 50px;
    }

    .personality {
      padding: 20px 40px;
      display: flex;
      justify-content: center;
      gap: 20px;
      background-color: colors.$secondary-background;
      border-radius: 20px;

      &-item {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 80px;
        }

        &-description {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          &-title {
            width: 8ch;
            font-size: typography.$font-size-md;
            font-weight: typography.$semi-bold;
          }
        }
      }

      &-item:not(:last-child){
        padding-right: 30px;
        border-right: 1px solid colors.$primary-text-color;
      }
    }

    .health-status {
      margin-bottom: 50px;
      display: flex;
      gap: 20px;

      .health-status-items {
        width: 33%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: colors.$secondary-background;
        border-radius: 20px;

        .health-status-item {
          display: flex;
          justify-content: space-between;
          gap: 30px;
          align-items: center;

          .health-status-item-title {
            display: flex;
            align-items: center;
            gap: 10px;

            .health-status-item-image-holder {
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: colors.$primary-background;
              border-radius: 50%;

              img {
                width: 30px;
              }
            }
          }

          .health-status-answer {
            span {
              display: flex;

              img {
                width: 30px;
              }
            }
          }
        }

        .reversed {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .health-status-answer {
            span {
              gap: 20px;

              img {
                width: 50px;
              }
            }
          }
        }
      }
    }
  }

  .right-column {
    padding: 80px 40px 40px 40px;
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: colors.$secondary-background;

    .main-details-holder {
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .main-details-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .pet-name {
          margin-top: 15px;
          font-size: typography.$font-size-xl;
          font-weight: typography.$semi-bold;
        }

        .pet-breed {
          text-transform: uppercase;
          font-weight: typography.$semi-bold;
        }
      }

      .main-details {
        display: flex;
        gap: 10px;

        .main-detail-holder {
          width: 80px;
          height: 80px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          background-color: colors.$secondary-text-color;

          span {
            color: white;
          }
        }
      }
    }
  }

  @include for-phone-only {
    flex-direction: column-reverse;

    .left-column {
      padding: 20px;
      width: 100%;

      .edit-and-delete {
        top: -420px;
        right: 20px;
      }

      &-title {
        margin-bottom: 20px;

        h2 {
          font-size: typography.$font-size-lg;
        }
      }

      .personality {
        padding: 20px 0;
        flex-wrap: wrap;
        column-gap: 0;
        row-gap: 20px;

        &-item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 80px;
          }

          &-description {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &-title {
              width: 8ch;
              font-size: typography.$font-size-md;
              font-weight: typography.$semi-bold;
            }
          }
        }

        &-item:not(:last-child) {
          padding: 0;
          border-right: 0;
        }
      }

      .health-status {
        flex-direction: column;
        align-items: center;


        .health-status-items {
          width: 100%;
          padding: 20px;

          .health-status-item {
            .health-status-answer {
              span {
                display: flex;
              }
            }
          }
        }
      }

    }

    .right-column {
      width: 100%;
      padding: 20px;
    }
  }
  }


.modal-container {
  width: 800px;
  height: 800px;

  @include for-phone-only {
    width: 100%;
    height: auto;
  }
}
