@use '../abstracts/colors';
@use '../abstracts/typography';

.btn {
  border: none;
}

.primary-button {
  padding-block: 15px;
  width: 350px;
  display: flex;
  justify-content: center;
  background-color: colors.$accent-color;
  border-radius: 5px;
  font-weight: typography.$medium;
}

.primary-button:hover {
  border: 1px solid colors.$primary-text-color;
  background-color: #F7621D;
  color: #4A2A26;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-google {
  padding-block: 15px;
  width: 350px;
  display: flex;
  justify-content: center;
  background-color: colors.$secondary-background;
  border-radius: 5px;
}

