<section class="why-choose-us-holder">
  <div class="container">
    <h2>Защо да избереш <span class="orange">Лапички+</span></h2>
    <div class="benefits-holder">
      <div class="benefit first-benefit">
        <h3>Интуитивен дизайн</h3>
        <img src="/images/desktop/home/design-benefit.svg" alt="">
        <p>Лесно намираш правилните услуги и управляваш грижите за любимеца си без усилия.</p>
      </div>
      <div class="benefit second-benefit">
        <div class="title">
          <h3>Сигурни гледачи</h3>
          <p>Всеки кандидат преминава проверка, за да осигурим спокойствие и безопасност за теб.</p>
        </div>
        <img src="/images/desktop/home/secure-sitter-benefit.svg" alt="">
      </div>
      <div class="benefit third-benefit">
        <img class="payment-image" src="/images/desktop/home/happy-pets.png" alt="">
      </div>
      <div class="benefit fourth-benefit">
        <div class="title">
          <h3>Гъвкав график</h3>
          <p>Създай и управлявай услугите си, за да се впишат идеално в ежедневието ти.</p>
        </div>
        <img src="/images/desktop/home/schedule-benefit.svg" alt="">
      </div>
      <div class="benefit fifth-benefit">
        <div class="title">
          <h3>Удобни напомняния</h3>
          <p>Никога не пропускаш ваксина, преглед или разходка, благодарение на автоматизираната система.</p>
        </div>
        <img src="/images/desktop/home/notifications-benefit.svg" alt="">
      </div>
      <div class="benefit sixth-benefit">
        <div class="title">
          <h3>Прозрачни отзиви</h3>
          <p>Споделяй и преглеждай рейтинги и коментари, за да избираш доверени услуги и гледачи.</p>
        </div>
        <img src="/images/desktop/home/reviews-benefit.svg" alt="">
      </div>
    </div>
  </div>
</section>
