@use '../../../../../style/abstracts/typography';
@use '../../../../../style/abstracts/colors';

.why-choose-us-holder {
  margin-top: 120px;
  margin-bottom: 120px;

  h2 {
    text-align: center;

    .orange {
      color: colors.$accent-color;
    }
  }

  .benefits-holder {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr 5fr;
    grid-template-rows: 4fr 5fr 5fr;
    gap: 48px;

    .benefit {
      display: flex;
      align-items: center;
      border-radius: 30px;
      padding: 45px;

      .title {
        margin-bottom: 8px;
      }
    }

    .first-benefit {
      background-color: rgba(254, 129, 45, 0.8);
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      min-height: 578px;
      flex-direction: column;
      justify-content: space-around;
    }

    .second-benefit {

      .title {
        h3 {
          color: white;
        }
        p {
          color: white;
        }
      }
      background-color: rgba(110, 62, 69, 0.8);
      grid-row: 1 / 1;
      grid-column: 2 / 5;
    }

    .third-benefit {
      padding: 0;
      grid-column: 2 / 4;

      .payment-image {
        width: 100%;
        height: 100%;
      }
    }

    .fourth-benefit {
      background-color: rgba(251, 83, 44, 0.8);
      grid-column: 4 / 5;
    }

    .fifth-benefit {
      background-color: rgba(191, 99, 45, 0.8);
      grid-row: 3 / 4;
      grid-column: 1 / 3;
    }

    .sixth-benefit {
      background-color: rgba(124, 122, 72, 0.8);
      grid-row: 3 / 4;
      grid-column: 3 / 5;
    }
  }


}
