@use '../../../../../style/abstracts/colors';
@use '../../../../../style/breakpoints/breakpoints' as *;

.role-selection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/images/desktop/auth/auth-background.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .heading {
    margin-bottom: 60px;
    text-align: center;
  }

  .roles {
    display: flex;
    gap: 53px;

    .role {
      padding: 33px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid colors.$primary-text-color;
      border-radius: 20px;
      cursor: pointer;
    }

    .role-owner:hover {
      transition: 500ms;
      background-color: colors.$approve-color;
      border: none;

      h3 {
        color: white;
      }
    }

    .role-sitter:hover {
      transition: 500ms;
      background-color: colors.$accent-color;
      border: none;
    }
  }

  @include for-phone-only {
    padding: 50px 16px;
    height: auto;
    background-image: url("/images/mobile/auth/auth-background.svg");

    .roles {
      flex-direction: column;

      .role {
        flex-direction: row;
      }
    }
  }
}
