  <div class="modal-dialog booking" role="document">
  <button
    type="button"
    class="close btn"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal.emit()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-content" *ngIf="config">
    <div class="modal-header">
      <h3 class="modal-title">{{ config.title }}</h3>
      <p>{{ config.description }}</p>
    </div>
    <div class="modal-body" [formGroup]="bookingForm">
      <div class="modal-body-side">
        <div class="filter">
          <span class="filter-heading">Каква услуга търсиш?</span>
          <div class="fields-container" *ngIf="filteredServices">
            <label
              class="field"
              *ngFor="let service of filteredServices"
              [ngClass]="{ 'selected': bookingForm.value.serviceType === service.id }">
              <img [src]="service.imagePath" [alt]="service.name">
              <input
                type="radio"
                formControlName="serviceType"
                [value]="service.id"
                />
              {{ service.name | translateService}}
            </label>
            <div class="alert" *ngIf="serviceType?.touched && serviceType?.errors?.['required']">
              * Моля, изберете услуга.
            </div>
          </div>
        </div>
        <div class="filter">
          <span class="filter-heading">
            Избери дати
          </span>
          <button class="btn info-btn" (click)="toggleAvailableDates()">Покажи свободните дати</button>
          <div class="filter">
            <div class="available-dates-list">
              <p-calendar *ngIf="showAvailability"
                [ngModel]="availableDates"
                [ngModelOptions]="{ standalone: true }"
                selectionMode="multiple"
                [dateFormat]="'yy-mm-dd'"
                [readonlyInput]="true"
                [inline]="true">
              </p-calendar>
            </div>
          </div>
          <div class="filter-dates">
            <div class="date">
              <span>Начална дата</span>
              <div class="date-calendar">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <p-calendar
                  (ngModelChange)="onStartDateChange($event);"
                  [dateFormat]="'yy-mm-dd'"
                  formControlName="startDay"
                  dataType="string"
                  inputId="startDate"
                  class="custom-calendar"
                  placeholder="Начална дата"
                  [minDate]="today"
                  [maxDate]="maxDateForStartDate"
                ></p-calendar>
              </div>
              <div class="alert" *ngIf="startDay?.touched && startDay?.errors?.['required']">
                * Началната дата е задължителна.
              </div>
            </div>
            <div class="date">
              <span>Крайна дата</span>
              <div class="date-calendar">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <p-calendar
                  (ngModelChange)="onEndDateChange($event);"
                  [dateFormat]="'yy-mm-dd'"
                  formControlName="endDay"
                  dataType="string"
                  inputId="endDate"
                  placeholder="Крайна дата"
                  [minDate]="minDateForEndDate"
                ></p-calendar>
              </div>
              <div class="alert" *ngIf="endDay?.touched && endDay?.errors?.['required']">
                * Крайната дата е задължителна.
              </div>
            </div>
          </div>
        </div>
        <div class="filter">
          <span class="filter-heading">Избери часове</span>
          <div class="filter-dates">
            <div class="date">
              <span>Начален час</span>
              <div class="date-calendar">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <input
                  type="time"
                  class="native-time-input"
                  formControlName="startTime"
                  lang="en-GB"
                />
              </div>
              <div class="alert" *ngIf="startTime?.touched && startTime?.errors?.['required']">
                * Началният час е задължителен.
              </div>
<!--              <p-calendar-->
<!--                formControlName="startTime"-->
<!--                [timeOnly]="true"-->
<!--                [hourFormat]="'24'"-->
<!--                placeholder="Начален час"-->
<!--                (onSelect)="formatTime('startTime')"-->
<!--              ></p-calendar>-->
            </div>
            <div class="date">
              <span>Краен час</span>
              <div class="date-calendar">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <input
                  type="time"
                  class="native-time-input"
                  formControlName="endTime"
                />
              </div>
              <div class="alert" *ngIf="endTime?.touched && endTime?.errors?.['required']">
                * Крайният час е задължителен.
              </div>
<!--              <p-calendar-->
<!--                formControlName="endTime"-->
<!--                [timeOnly]="true"-->
<!--                [hourFormat]="'24'"-->
<!--                placeholder="Краен час"-->
<!--                (onSelect)="formatTime('endTime')"-->
<!--              ></p-calendar>-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body-side">
<!--        <div class="filter">-->
<!--          <span class="filter-heading">Избери начин за взимане на животното</span>-->
<!--          <div class="fields-container">-->
<!--            <label class="field" *ngFor="let meetingPlace of meetingPlaceOptions"-->
<!--                   [ngClass]="{ 'selected': bookingForm.value.meetingPlaceType === meetingPlace.id }">-->
<!--              <input-->
<!--                type="radio"-->
<!--                formControlName="meetingPlaceType"-->
<!--                [value]="meetingPlace.id"-->
<!--              />-->
<!--              {{ meetingPlace.name }}-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->

        <div class="filter">
          <span class="filter-heading">Избери начин за взимане на животното</span>

          <div class="fields-container">
            <label class="field"
                   *ngFor="let meetingPlace of filteredMeetingPlaces"
                   [ngClass]="{ 'selected': bookingForm.value.meetingPlaceType === meetingPlace.id }">
              <input type="radio"
                     formControlName="meetingPlaceType"
                     [value]="meetingPlace.id" />
              {{ meetingPlace.name }}
            </label>
          </div>
          <div class="alert" *ngIf="meetingPlaceType?.touched && meetingPlaceType?.errors?.['required']">
            * Моля, изберете начин за взимане на животното.
          </div>
        </div>

        <div class="filter" *ngIf="bookingForm.value.meetingPlaceType === 3">
          <span class="filter-heading">Избери място на среща</span>
          <google-autocomplete (placeSelected)="handlePlaceSelected($event)"></google-autocomplete>
          <div class="alert" *ngIf="meetingPlaceId?.touched && meetingPlaceId?.errors?.['required'] && bookingForm.value.meetingPlaceType === 3">
            * Моля, изберете място на среща.
          </div>
        </div>
        <div class="filter">
          <span class="filter-heading">Допълнително съобщение</span>
          <textarea class="main-textarea" formControlName="additionalDescription"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn secondary-button"
        (click)="submitBookingForm()"
      >
        Резервирай
      </button>
    </div>
  </div>
</div>
