@use '../../../../../style/abstracts/colors';
::ng-deep.pac-container {
  z-index: 10000 !important;
}
.availability-button {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 6px 12px;
  font-size: 14px;
}

.filter-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-btn {
  width: fit-content;
  padding: 5px;
  background-color: colors.$accent-color;
  border-radius: 5px;

  &:hover {
    background-color: darken(colors.$accent-color, 10%);
  }
}

.available-dates-list {
  pointer-events: none;
}

.date {
  width: 50%;
}
