@use '../../../../../style/abstracts/colors';
::ng-deep.pac-container {
  z-index: 10000 !important;
}
.availability-button {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 6px 12px;
  font-size: 14px;
}

.filter-heading {
  display: flex;
  align-items: center;
  gap: 10px;

  .info-btn {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$accent-color;
    border-radius: 50%;

    .tooltip-text {
      visibility: hidden;
      opacity: 0;
      width: max-content;
      background-color: colors.$secondary-background;
      color: colors.$primary-text-color;
      text-align: center;
      border-radius: 4px;
      padding: 5px;
      position: absolute;
      left: 120px;
      bottom: 125%;
      transform: translateX(-50%);
      transition: opacity 0.2s;
      white-space: nowrap;
      z-index: 10;
    }

    &:hover {
      background-color: darken(colors.$accent-color, 10%);

      .tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.available-dates-list {
  pointer-events: none;
}
