<!--<section class="hero">-->
<!--  <div class="fast-search">-->
<!--    <form>-->
<!--      <div class="filter">-->
<!--        <span class="filter-heading">Какъв е твоят домашен любимец?</span>-->
<!--        <div class="filter-elements">-->
<!--          <div *ngFor="let pet of pets; let i=index" class="col-md-2">-->
<!--            <label>-->
<!--              <input type="checkbox" [value]="pet.value" (change)="onPetChange($event)">-->
<!--              {{pet.name}}-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="hero-heading">-->
<!--    <span>Удобно, лесно и бързо</span>-->
<!--    <h1>Лапички+</h1>-->
<!--    <p>всичко необходимо за грижата за вашия домашен любимец, събрано на едно място. С него лесно ще откриете човек, който да разходи вашето куче, когато сте заети, или да му осигури уютен дом, докато сте на почивка. Освен това, ако обичате животните, можете да предложите своите услуги и да си осигурите допълнителен доход!</p>-->
<!--  </div>-->
<!--</section>-->
