@use '../../../../../style/abstracts/typography';
@use '../../../../../style/abstracts/colors';

.hero-holder  {
  width: 100vw;
  height: calc(100vh - 90px);

  .hero {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;

    .fast-search {
      padding: 40px 50px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      background-color: colors.$secondary-background;
      border-radius: 40px;

      //.filter {
      //  display: flex;
      //  flex-direction: column;
      //  gap: 15px;
      //
      //  &-heading {
      //    font-size: typography.$font-size-md;
      //    font-weight: typography.$semi-bold
      //  }
      //
      //  .fields-container {
      //    margin: 0;
      //    justify-content: flex-start;
      //
      //    .field {
      //      padding: 0 5px;
      //      width: 120px;
      //      height: 120px;
      //      justify-content: center;
      //      align-items: center;
      //      gap: 5px;
      //      border-radius: 15px;
      //      text-align: center;
      //      transition: background-color 0.3s ease-in-out;
      //
      //      img {
      //        width: 50px;
      //      }
      //
      //      input {
      //        display: none;
      //      }
      //    }
      //
      //    .field.selected {
      //      border: none;
      //      background-color: colors.$accent-color;
      //    }
      //
      //    .field.selected::after {
      //      content: '';
      //    }
      //  }
      //
      //  &-dates {
      //    display: flex;
      //    align-items: center;
      //    gap: 10px;
      //
      //    .date {
      //      display: flex;
      //      align-items: center;
      //      gap: 5px;
      //    }
      //  }
      //}

      .primary-button {
        padding-block: 8px;
        width: 100%;
      }
    }

    &-heading {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        font-size: typography.$font-size-2xl
      }

      h1 {
        font-weight: typography.$bold;
        color: colors.$secondary-text-color;
      }

      p {
        width: 50ch;
        text-align: justify;
        line-height: 30px;
      }
    }
  }

  .hero-image {
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

::ng-deep p-calendar {
  .p-calendar {
    .p-inputtext {
      padding: 0;
    }

    .p-datepicker-calendar td {
      padding: 0;
    }

    .p-inputtext::placeholder {
      color: colors.$primary-text-color;
      font-weight: typography.$semi-bold;
    }

    .p-inputtext:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }

    .p-datepicker table td > span.p-highlight {
      background-color: colors.$accent-color;
    }
  }
}

::ng-deep google-autocomplete {
  input {
    padding: 10px 20px;
    width: 250px;
    background-color: colors.$primary-background;
    border-radius: 10px;
  }
}
