$primary-background: #F5F4F1;
$secondary-background: #E8E4DD;
$primary-text-color: #341A1B;
$secondary-text-color: #6E3E45;
$accent-color: #FE812D;
$approve-color: #7C7A48;
$danger-color: #ffe6e6;
$danger-darker-color: #cd223d;
