@use '../../../../../style/abstracts/colors';
@use '../../../../../style/abstracts/typography';

.multi-step-form-holder {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .multi-step-form {
    padding: 60px 41px;
    background-color: colors.$secondary-background;
    border-radius: 20px;

    .form-heading {
      font-size: typography.$font-size-md;
    }

    form {
      margin-top: 54px;

      .fields-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;

        .field {
          padding: 35px 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;
          background-color: colors.$primary-background;
          border-radius: 20px;
          cursor: pointer;

          &.selected {
            border: 2px solid colors.$accent-color;
            background-color: lighten(colors.$accent-color, 30%);
          }

          img {
            width: 80px;
          }

          label {
            font-weight: typography.$bold;
          }
        }

        .select-all {
          margin-top: 20px;
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            margin-right: 10px;
          }
        }
      }

      .button-container {
        margin-top: 28px;
        display: flex;
        justify-content: space-between;

        button {
          width: 50px;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
