<div class="dashboard">
  <h1>Твоите поръчки</h1>
  <div class="tabs">
    <button
      (click)="filterBookings('Pending')"
      [ngClass]="{'active': activeTab === 'Pending'}">
      Чакащи одобрение
    </button>
    <button
      (click)="filterBookings('Approved')"
      [ngClass]="{'active': activeTab === 'Approved'}">
      Одобрени
    </button>
    <button
      (click)="filterBookings('Canceled')"
      [ngClass]="{'active': activeTab === 'Canceled'}">
      Отказани
    </button>
    <button
      (click)="filterBookings('Started')"
      [ngClass]="{'active': activeTab === 'Started'}">
      В процес
    </button>
    <button
      (click)="filterBookings('Completed')"
      [ngClass]="{'active': activeTab === 'Completed'}">
      Минали
    </button>
  </div>
  <div *ngIf="filteredBookings.length === 0" class="no-bookings-message">
    <img src="/images/shared/no-bookings.svg" alt="Липсващи">
  </div>
  <table *ngIf="filteredBookings.length > 0">
    <thead>
    <tr>
      <th scope="col" *ngIf="profile?.roles?.includes('Sitter')">Автор</th>
      <th scope="col" *ngIf="profile?.roles?.includes('Owner')">Гледач</th>
      <th scope="col">Услуга</th>
      <th scope="col">Дати</th>
      <th scope="col">Час</th>
      <th scope="col">Вид среща</th>
      <th scope="col">Локация</th>
      <th scope="col" *ngIf="hasMessages()">Съобщение</th>
      <th scope="col">Животно</th>
      <th scope="col">Статус</th>
      <th scope="col" *ngIf="!(activeTab === 'Completed' && profile?.roles?.includes('Sitter'))">Опции</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of filteredBookings">
      <td *ngIf="profile?.roles?.includes('Sitter')" data-label="Собственик">
        <div class="author">
          <img class="profile-image-small" [src]="booking.photoUrl" alt="">
          {{ booking.firstName }} {{ booking.lastName }}
        </div>
      </td>
      <td *ngIf="profile?.roles?.includes('Owner')" data-label="Гледач">
        <div class="author">
          <img class="profile-image-small" [src]="booking.sitterPhotoUrl" alt="">
          {{ booking.sitterFirstName }} {{ booking.sitterLastName }}
        </div>
      </td>
      <td data-label="Услуга">
        {{ booking.serviceName | translateService }}
      </td>
      <td data-label="Дати">
        от {{ booking.startDay }} до {{ booking.endDay }}
      </td>
      <td data-label="Час">
        {{ booking.startTime }} - {{ booking.endTime }}
      </td>
      <td data-label="Вид среща">
        <span *ngIf="booking.meetingPlaceId == 1">Взимане от собственика</span>
        <span *ngIf="booking.meetingPlaceId == 2">Оставяне у гледача</span>
        <span *ngIf="booking.meetingPlaceId == 3">Неутрално място</span>
      </td>
      <td data-label="Локация">
        {{  booking.meetingPlaceAddress || 'Зареждане...' }}
      </td>
      <td *ngIf="hasMessages()" data-label="Съобщение">
        {{ booking.additionalDescription }}
      </td>
      <td (click)="viewPet(booking.ownerId)" class="pet" data-label="Животно">
        <img *ngIf="booking.petType === 'Dog'" src="/images/shared/dog.svg" alt="Куче">
        <img *ngIf="booking.petType === 'Cat'" src="/images/shared/cat.svg" alt="Котка">
      </td>
      <td data-label="Статус">
        <span *ngIf="booking.status == 'Pending'" class="pending">Чакаща</span>
        <span *ngIf="booking.status == 'Canceled'" class="disapproved">Отказана</span>
        <span *ngIf="booking.status == 'Disapproved'" class="disapproved">Отхвърлена</span>
        <span *ngIf="booking.status == 'Approved'" class="approved">Одобрена</span>
        <span *ngIf="booking.status == 'Started'" class="approved">В процес на извършване</span>
        <span *ngIf="booking.status == 'Completed'" class="approved">Завършена</span>
      </td>
      <td data-label="Опции" *ngIf="!(activeTab === 'Completed' && profile?.roles?.includes('Sitter'))">
        <div class="button-group">
          <button class="btn" *ngIf="booking.status == 'Pending'"><img src="/images/shared/answer-yes.png" alt="Одобри" *ngIf="profile?.roles?.includes('Sitter')" (click)="approve(booking.id, booking.ownerId, booking.serviceName)"></button>
          <button class="btn" *ngIf="booking.status == 'Pending'"><img src="/images/shared/answer-no.png" alt="Отхвърли" *ngIf="profile?.roles?.includes('Sitter')" (click)="openReasonForRejectModal('disapprove', booking.id, booking.ownerId, booking.serviceName)"></button>
          <button class="action-btn btn-start" *ngIf="profile?.roles?.includes('Sitter') && booking.status == 'Approved'" (click)="startBooking(booking.id, booking.ownerId)">
            <img src="/images/shared/start.png" alt="Старт">
            Започни
          </button>
          <button class="action-btn btn-complete" *ngIf="profile?.roles?.includes('Sitter') && booking.status == 'Started'" (click)="completeBooking(booking.id, booking.ownerId)">
            <img src="/images/shared/complete.png" alt="Завърши">
            Завърши
          </button>
          <button class="btn" *ngIf="booking.status == 'Pending'|| booking.status == 'Approved'"><img src="/images/shared/answer-no.png" alt="Отхвърли" *ngIf="profile?.roles?.includes('Owner')" (click)="openReasonForRejectModal('cancel', booking.id, booking.sitterId, booking.serviceName)"></button>
          <button class="action-btn btn-review" *ngIf="profile?.roles?.includes('Owner') && booking.status == 'Completed' && !booking.isReviewed" (click)="openReviewModal(booking.ownerId, booking.sitterId)">
            <img src="/images/shared/review.png" alt="Оцени">
            Оцени
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-wrapper-modal></app-wrapper-modal>
