@use '../../../../../style/abstracts/colors';
@use '../../../../../style/abstracts/typography';
@use '../../../../../style/breakpoints/breakpoints' as *;

.multi-step-form-holder {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .decoration {
    position: absolute;
    z-index: -20;
  }
  .decoration-1 {
    top: 0;
    left: 0;
  }

  .decoration-2 {
    bottom: 30px;
    left: 110px;
  }

  .decoration-3 {
    bottom: 130px;
    right: 0;
  }

  .multi-step-form {
    padding: 60px 41px;
    min-width: 500px;
    background-color: colors.$secondary-background;
    border-radius: 20px;

    .step-indicator {
      margin-bottom: 20px;
      display: flex;
      gap: 8px;

      span {
        width: 25px;
        height: 3px;
        background-color: colors.$primary-text-color;
        transition: background-color 0.3s;
      }

      span.active {
        background-color: colors.$accent-color;
      }

    }

    .form-heading {
      font-size: typography.$font-size-md;
    }

    .form {
    }
  }

  .button-container {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;

    button[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  @include for-phone-only {
    .multi-step-form {
      min-width: auto;
    }
  }
}

