.modal-dialog {
  margin: 0 auto;

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    p {
      width: 80%;
    }

    textarea {
      width: 80%;
    }
  }

  .modal-footer {
    gap: 30px;
  }
}

