<div class="modal-dialog" role="document">
  <button
    type="button"
    class="close btn"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal.emit()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">{{ config.title }}</h3>
    </div>
    <div class="modal-body" [formGroup]="rejectForm">
      <p>{{ config.description }}</p>
      <textarea *ngIf="config.action === 'disapprovePost'" class="main-textarea" formControlName="stateReason"></textarea>
    </div>
    <div class="modal-footer">
      <button *ngIf="config.action === 'disapprovePost'"
        type="button"
        class="btn modal-button disapprove"
        (click)="disapprovePost(config.data)"
      >
        Неодобри
      </button>

      <button *ngIf="config.action === 'disapproveBooking'"
              type="button"
              class="btn modal-button disapprove"
              (click)="disapproveBooking()"
      >
        Неодобри
      </button>

      <button *ngIf="config.action === 'cancel'"
              type="button"
              class="btn modal-button disapprove"
              (click)="cancelBooking()"
      >
        Откажи
      </button>

      <button
        type="button"
        class="btn"
        data-dismiss="modal"
        (click)="closeModal.emit()"
      >
        Затвори
      </button>
    </div>
  </div>
</div>
