<img class="profile-decoration-left" src="/images/desktop/profile-left-blob.svg" alt="decoration">

<section class="create-profile-holder">
  <form>
    <div class="create-profile-head">
      <div class="create-profile-head-left">
        <div class="profile-image">
          <img [src]="profile.photoUrl"
               alt="Your profile image">
        </div>
        <div class="profile-name">
          <span class="role"> <img src="/images/shared/role-symbol.png" alt="Paw"> собственик</span>
          <span>{{profile.firstName}}</span>
          <span>{{profile.lastName}}</span>
        </div>
      </div>
      <div class="create-profile-head-right">
        <span class="create-profile-head-right-title">Животни:</span>
        <div class="animals">
          <div class="animal">
            <img src="/images/shared/dog.svg" alt="dog">
            <span class="animal-name">Бъки</span>
          </div>
          <div class="animal">
            <img src="/images/shared/cat.svg" alt="cat">
            <span class="animal-name">Томи</span>
          </div>
        </div>
      </div>
    </div>
    <div class="create-profile-main">
      <div class="create-profile-main-left-side">
        <div class="additional-information">
          <div class="form-group">
            <div class="form-sections-heading">
              <span>Допълнително описание</span>
            </div>
            <span>{{profile.description}}</span>
          </div>
        </div>
      </div>
      <div class="create-profile-main-right-side">

      </div>
    </div>
  </form>
</section>
