$primary-background: #F5F4F1;
$secondary-background: #E8E4DD;
$primary-text-color: rgb(52, 26, 27);
$secondary-text-color: #6E3E45;
$accent-color: #FE812D;
$approve-color: #7C7A48;
$danger-color: #fb8f8f;
$danger-darker-color: #cd223d;
