@use 'colors';
@use '../breakpoints/breakpoints' as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Font families */
$primary-font-family: "Nunito Sans", serif;

$font-size-xs: 0.875rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2.25rem;
$font-size-2xl: 2.5rem;
$font-size-3xl: 3.5rem;
$font-size-4xl: 5rem;

/* Font weights */
$light: 300;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

@mixin responsive-font($default, $tablet: null, $phone: null) {
  font-size: $default;

  @include for-tablet-portrait-up {
    @if $tablet != null {
      font-size: $tablet;
    }
  }

  @include for-phone-only {
    @if $phone != null {
      font-size: $phone;
    }
  }
}


* {
  font-family: $primary-font-family;
  color: colors.$primary-text-color;
}

h1, h2, h3, h4 {
  font-weight: $bold;
}

h1 {
  @include responsive-font($font-size-4xl, $font-size-3xl, 3rem);
}

h2 {
  @include responsive-font($font-size-3xl, $font-size-2xl, 2.5rem);
}

h3 {
  @include responsive-font($font-size-2xl, 2rem, 1.75rem);
}

p, label, input, placeholder, button {
  @include responsive-font($font-size-sm, 0.9375rem, 0.875rem);
}

a {
  text-decoration: none;
}
