@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Font families */
$primary-font-family: "Nunito Sans", serif;


/* Font sizes */
$font-size-xs: 0.875rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2.25rem;
$font-size-2xl: 2.5rem;
$font-size-3xl: 3.5rem;
$font-size-4xl: 5rem;

/* Font weights */
$light: 300;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

/* Line heights */

/* Letter spacings */

* {
  font-family: $primary-font-family;
  color: colors.$primary-text-color;
}

h1, h2, h3, h4 {
  font-weight: $bold;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

p, label, input, placeholder, button {
  font-size: $font-size-sm;
}
