<div class="modal" tabindex="-1" role="dialog" *ngIf="open">
  <!--  Modal for displaying details of a service-->
  <div class="modal-dialog edit-service" role="document"  *ngIf="isDetailsAction()">
    <button
      type="button"
      class="close btn"
      data-dismiss="modal"
      aria-label="Close"
      (click)="discardWrapper($event)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content" [formGroup]="serviceForm">
      <div class="modal-header">
        <h3 class="modal-title">{{ config.title }}</h3>
      </div>
      <div class="modal-body">
        <div class="modal-body-item choose-available-dates">
          <div class="modal-body-item-title">
            <span>Твоят график</span>
          </div>
          <p-calendar
            formControlName="availableDates"
            selectionMode="multiple"
            dataType="string"
            [dateFormat]="'yy-mm-dd'"
            [readonlyInput]="true"
            [inline]="true"
            [minDate]="today"
            class="custom-calendar">
          </p-calendar>
        </div>
        <div class="modal-body-item choose-price">
          <div class="modal-body-item-title">
            <span>Цена за услугата</span>
          </div>
          <div class="service-price">
            <input type="number"
                   min="1"
                   step="any"
                   placeholder="50"
                   class="price-input"
                   formControlName="price"/>
            <span>лв.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  Modal for deleting pet and service-->
  <div class="modal-dialog" role="document"  *ngIf="isDeleteAction()">
    <button
      type="button"
      class="close btn"
      data-dismiss="modal"
      aria-label="Close"
      (click)="discardWrapper($event)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-image">
      <img src="/images/shared/are-you-sure.png" alt="Объркан домашен любимец">
    </div>
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ config.title }}</h3>
      </div>
      <div class="modal-body">
        <p>{{ config.description }}</p>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="config.action === 'delete' && config.type === 'deletePet'"
          type="button"
          class="btn modal-button approve"
          (click)="deletePet(config.data)"
        >
          Да
        </button>
        <button
          *ngIf="config.action === 'delete' && config.type === 'deleteService'"
          type="button"
          class="btn modal-button approve"
          (click)="deleteService(config.data)"
        >
          Да
        </button>

        <button
          type="button"
          class="btn modal-button disapprove"
          data-dismiss="modal"
          (click)="discardWrapper($event)"
        >
          Не
        </button>
      </div>
    </div>
  </div>
<!--  Modal for editing service-->
  <div class="modal-dialog edit-service" role="document"  *ngIf="isEditAction()">
    <button
      type="button"
      class="close btn"
      data-dismiss="modal"
      aria-label="Close"
      (click)="discardWrapper($event)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content" [formGroup]="serviceForm">
      <div class="modal-header">
        <h3 class="modal-title"><img src="/images/shared/edit.svg" alt="Редактирай"> {{ config.title }}</h3>
      </div>
      <div class="modal-body">
        <div class="modal-body-item choose-available-dates">
          <div class="modal-body-item-title">
            <span class="step">1</span>
            <span>Направи свой график</span>
          </div>
          <p-calendar
            formControlName="availableDates"
            selectionMode="multiple"
            dataType="string"
            [dateFormat]="'yy-mm-dd'"
            [readonlyInput]="true"
            [inline]="true"
            [minDate]="today"
            class="custom-calendar">
          </p-calendar>
        </div>
        <div class="modal-body-item choose-price">
          <div class="modal-body-item-title">
            <span class="step">2</span>
            <span>Постави цена</span>
          </div>
            <div class="service-price">
              <input type="number"
                     min="1"
                     step="any"
                     placeholder="50"
                     class="price-input"
                     formControlName="price"/>
              <span>лв.</span>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="config.action === 'edit' && config.type === 'editService'"
          type="button"
          class="btn secondary-button"
          data-dismiss="modal"
          (click)="editService(config.data)"
        >
          Запази
        </button>
      </div>
    </div>
  </div>
  <!--  Modal for adding service-->
  <div class="modal-dialog edit-service" role="document"  *ngIf="isAddAction()">
    <button
      type="button"
      class="close btn"
      data-dismiss="modal"
      aria-label="Close"
      (click)="discardWrapper($event)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content" [formGroup]="serviceForm">
      <div class="modal-header">
        <h3 class="modal-title">+ {{ config.title }}</h3>
      </div>
      <div class="modal-body-with-choosing-service">
        <div class="fields-container">
          <div *ngFor="let service of services">
            <label
              class="field"
              [ngClass]="{'selected': selectedService === service.id}"
              (click)="selectService(service.id)">
              <img [src]="service.imagePath" [alt]="service.name">
              <input
                type="radio"
                [value]="service.id"
                [checked]="selectedService === service.id"
              />
              {{ service.name }}
            </label>
          </div>
        </div>
        <div class="modal-body" *ngIf="selectedService">
          <div class="modal-body-item choose-available-dates">
            <div class="modal-body-item-title">
              <span class="step">1</span>
              <span>Направи свой график</span>
            </div>
            <p-calendar
              formControlName="availableDates"
              selectionMode="multiple"
              dataType="string"
              [dateFormat]="'yy-mm-dd'"
              [readonlyInput]="true"
              [inline]="true"
              [minDate]="today"
              class="custom-calendar">
            </p-calendar>
          </div>
          <div class="modal-body-item choose-price">
            <div class="modal-body-item-title">
              <span class="step">2</span>
              <span>Постави цена</span>
            </div>
            <div class="service-price">
              <input type="number"
                     min="1"
                     step="any"
                     placeholder="50"
                     class="price-input"
                     formControlName="price"/>
              <span>лв.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" *ngIf="selectedService">
        <button
          type="button"
          class="btn secondary-button"
          data-dismiss="modal"
          (click)="createService(config.data)"
        >
          Запази
        </button>
      </div>
    </div>
  </div>
  <!-- Modal for booking sitter-->
  <div class="modal-dialog edit-service" role="document"  *ngIf="isBookAction()">
    <button
      type="button"
      class="close btn"
      data-dismiss="modal"
      aria-label="Close"
      (click)="discardWrapper($event)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content" [formGroup]="serviceForm">
      <div class="modal-header">
        <h3 class="modal-title">{{ config.title }}</h3>
        <p>{{ config.description }}</p>
      </div>
      <div class="modal-body">
        <div class="filter">
          <span class="filter-heading">Каква услуга търсиш?</span>
          <div class="fields-container">
            <div *ngFor="let service of services">
              <label
                class="field">
                <img [src]="service.imagePath" [alt]="service.name">
                <input
                  type="checkbox"
                  [value]="service.id"
                />
                {{ service.name }}
              </label>
            </div>
          </div>
        </div>
        <div class="filters-row">
          <div class="filter">
            <span class="filter-heading">Избери дати</span>
            <div class="filter-dates">
              <div class="date">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <p-calendar
                  [dateFormat]="'yy-mm-dd'"
                  dataType="string"
                  inputId="startDate"
                  class="custom-calendar"
                  placeholder="Начална дата"
                ></p-calendar>
              </div>
              <div class="date">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <p-calendar
                  [dateFormat]="'yy-mm-dd'"
                  dataType="string"
                  inputId="endDate"
                  placeholder="Крайна дата"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="filter">
            <span class="filter-heading">Избери часове</span>
            <div class="filter-dates">
              <div class="date">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <p-calendar
                  [dateFormat]="'yy-mm-dd'"
                  dataType="string"
                  inputId="startDate"
                  class="custom-calendar"
                  placeholder="Начална дата"
                ></p-calendar>
              </div>
              <div class="date">
                <img src="/images/desktop/home/calendar.svg" alt="Календар">
                <p-calendar
                  [dateFormat]="'yy-mm-dd'"
                  dataType="string"
                  inputId="endDate"
                  placeholder="Крайна дата"
                ></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <div class="filters-row">
          <div class="filter">
            <span class="filter-heading">Избери начин за взимане на животното</span>
            <div class="fields-container">
              <div>
                <label
                  class="field">
                  <input
                    type="checkbox"
                    [value]="1"
                  />
                  Вземане от дома ви
                </label>
              </div>
              <div>
                <label
                  class="field">
                  <input
                    type="checkbox"
                    [value]="2"
                  />
                  Вземане от трето място
                </label>
              </div>
              <div>
                <label
                  class="field">
                  <input
                    type="checkbox"
                    [value]="3"
                  />
                  Оставене в дома на гледача
                </label>
              </div>
            </div>
          </div>
          <div class="filter">
            <span class="filter-heading">Избери място на среща</span>
            <google-autocomplete></google-autocomplete>
          </div>
        </div>
        <div class="filter">
          <span class="filter-heading">Допълнително съобщение</span>
          <textarea class="main-textarea"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn secondary-button"
          data-dismiss="modal"
        >
          Резервирай
        </button>
      </div>
    </div>
  </div>
</div>
