@use '../../../../style/abstracts/typography';
@use '../../../../style/abstracts/colors';

.nav-wrapper {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 6px;
    transition: all 0.3s ease-in-out;
    z-index: 100;

    span {
      width: 36px;
      height: 2px;
      background: var(--color-accent);
      transition: all 300ms ease-in-out;
      transform-origin: 6px 1px;
    }

    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .nav-links {
    display: flex;
    gap: 32px;

    a {
      position: relative;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }

    a:after {
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 2px;
      display: block;
      content: "";
      background: none repeat scroll 0 0 transparent;
      background: colors.$accent-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    a:hover:after {
      width: 100%;
      left: 0;
    }

    a:hover {
      font-weight: typography.$bold;
    }
  }

  .nav-buttons {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 40px;

    .login-button {
      transition: 0.1s ease-in-out;
    }

    .login-button:hover {
      font-weight: typography.$bold;
    }
  }

  .profile-info {
    display: flex;
    align-items: center;
    gap: 15px;

    &-name {
      display: flex;

      span {
        font-size: typography.$font-size-md;
        font-weight: typography.$semi-bold;
      }
    }

    .nav-profile-image {

      img {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }

      .profile-options {
        position: absolute;
        top: 100px;
        right: calc((100% - 1140px) / 2);
        padding: 20px 0;
        display: block;
        background-color: colors.$accent-color;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        p {
          padding-inline: 40px;
          font-size: typography.$font-size-md;
          font-weight: typography.$medium;
          cursor: pointer;
        }

        p:hover {
          background-color: #F7621D;
          color: #4A2A26;
        }
      }
    }

  }

  @media only screen and (max-width: 1100px) {
    .nav-wrapper {
      position: relative;

      .hamburger-menu {
        display: flex;
      }

      .hidden {
        opacity: 0;
      }

      .nav-links {
        position: absolute;
        right: 0;
        width: 50%;
        padding: 30px 15px;
        flex-direction: column;
        top: 50px;
        background-color: var(--color-accent);
        border-radius: 8px;
        z-index: 1000;
        text-align: right;
        transition: all 300ms ease-in-out;

        a {
          color: var(--white);
        }
      }
    }
  }
}
