<div class="container navigation-menu-anonymous-user" *ngIf="!isLogged">
  <div class="nav-wrapper">
    <picture>
      <source media="(max-width:1100px)" srcset="/images/desktop/logo.svg">
      <img src="/images/desktop/logo.svg" alt="logo">
    </picture>
    <a href="#" id="btn-hamburger" class="hamburger-menu open">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav id="nav-links" class="nav-links hidden">
      <a href="#">Кои сме ние?</a>
      <a href="#">Нашите услуги</a>
      <a href="#">Кой е гледач?</a>
    </nav>
    <div class="nav-buttons">
      <a routerLink="/auth/login" class="login-button">Влез</a>
      <a routerLink="/auth/role-selection"
         class="btn primary-button">
        Регистрирай се
      </a>
    </div>
  </div>
</div>

<div class="container navigation-menu-logged-user" *ngIf="isLogged">
  <div class="nav-wrapper">
    <picture>
      <source media="(max-width:1100px)" srcset="/images/desktop/logo.svg">
      <img src="/images/desktop/logo.svg" alt="logo">
    </picture>
    <div class="profile-info">
      <div class="profile-info-name">
        <span>Здравей, {{ profile!.firstName }}!</span>
      </div>
      <div class="nav-profile-image">
        <img [src]="profile.photoUrl"
             class="profile-image-small"
             alt="your image"
             (click)="toggleOptions()"/>
        <div class="profile-options" #profileOptions  [class.visible]="optionsVisible">
          <div class="profile-options-heading">
            <img [src]="profile.photoUrl"
                 class="profile-image-small"
                 alt="your image"
                 (click)="toggleOptions()"/>
            <div class="profile-details">
              <span>{{profile.firstName}} {{profile.lastName}}</span>
              <span>{{profile.email}}</span>
            </div>
          </div>
          <p [routerLink]="'/profile/my-profile-details'">
            <img src="/images/shared/home/dropdown-options/my-profile.png" alt="Иконка на потребител">
            Моят профил
          </p>
          <p *ngIf="profile?.roles?.includes('Owner')"
             [routerLink]="'/profile/my-profile-details/my-pets'">
            <img src="/images/shared/home/dropdown-options/my-pets.png" alt="Иконка на лапичка">
            Моите животни
          </p>
          <p *ngIf="profile?.roles?.includes('Sitter')"
             [routerLink]="'/profile/my-profile-details/my-post'">
            <img src="/images/shared/home/dropdown-options/my-post.png" alt="Иконка на календар">
            Моята обява
          </p>
          <p [routerLink]="'/profile/my-profile-details/notifications'">
            <img src="/images/shared/home/dropdown-options/notifications.png" alt="Иконка на камбанка">
            Известия
          </p>
          <p (click)="logout()">
            <img src="/images/shared/home/dropdown-options/logout.png" alt="Иконка на вратичка">
            Излез
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
