<div class="navigation-menu-anonymous-user nav-holder" *ngIf="!isLogged">
  <div class="nav-wrapper container">
    <picture>
      <source media="(max-width:1100px)" srcset="/images/desktop/logo.svg">
      <img src="/images/desktop/logo.svg" alt="logo">
    </picture>
    <a href="#" id="btn-hamburger" class="hamburger-menu open">
      <span></span>
      <span></span>
      <span></span>
    </a>
<!--    <nav id="nav-links" class="nav-links hidden">-->
<!--      <a href="javascript:void(0);" (click)="onScrollToSection('services')">Кои сме ние?</a>-->
<!--      <a href="javascript:void(0);" (click)="onScrollToSection('become-sitter')">Кой е гледач?</a>-->
<!--      <a href="javascript:void(0);" (click)="onScrollToSection('why-choose-us')">Избери Лапички+</a>-->
<!--    </nav>-->
    <div class="nav-buttons">
      <a routerLink="/auth/login" class="login-button">Влез</a>
      <a routerLink="/auth/role-selection"
         class="btn primary-button">
        Регистрирай се
      </a>
    </div>
  </div>
</div>

<div class="navigation-menu-logged-user nav-holder" *ngIf="isLogged">
  <div class="nav-wrapper">
    <div class="left-side">
      <picture routerLink="/home">
        <source media="(max-width:1100px)" srcset="/images/desktop/logo.svg">
        <img src="/images/desktop/logo.svg" alt="logo">
      </picture>
      <nav class="nav-links">
        <a routerLink="/search"><img src="/images/shared/navbar-search.svg" alt="Лупичка с лапа">Търси</a>
<!--        <a routerLink="/search" *ngIf="profile?.roles?.includes('Owner')"><img src="/images/shared/become-sitter.png" alt="Иконка на лапички">Стани гледач</a>-->
      </nav>
    </div>
    <div class="profile-info" *ngIf="profile">
      <div class="profile-info-name" [routerLink]="'/profile/my-profile-details'">
        <span>Здравей, {{ profile!.firstName }}!</span>
      </div>
      <div class="nav-profile-image">
        <img [src]="profile.photoUrl"
             class="profile-image-small"
             alt="your image"
             (click)="toggleOptions()"/>
        <div class="profile-options" #profileOptions  [class.visible]="optionsVisible">
          <div class="profile-options-heading">
            <img [src]="profile.photoUrl"
                 class="profile-image-small"
                 alt="your image"
                 (click)="toggleOptions()"/>
            <div class="profile-details">
              <span>{{profile.firstName}} {{profile.lastName}}</span>
              <span>{{profile.email}}</span>
            </div>
          </div>
          <p [routerLink]="'/profile/my-profile-details'">
            <img src="/images/shared/home/dropdown-options/my-profile.png" alt="Иконка на потребител">
            Моят профил
          </p>
          <p *ngIf="profile?.roles?.includes('Owner')"
             [routerLink]="'/profile/my-profile-details/my-pets'">
            <img src="/images/shared/home/dropdown-options/my-pets.png" alt="Иконка на лапичка">
            Моите животни
          </p>
          <p *ngIf="profile?.roles?.includes('Sitter')"
             [routerLink]="'/profile/my-profile-details/my-post'">
            <img src="/images/shared/home/dropdown-options/my-post.png" alt="Иконка на календар">
            Моята обява
          </p>
          <p [routerLink]="'/profile/my-profile-details/notifications'">
            <img src="/images/shared/home/dropdown-options/notifications.png" alt="Иконка на камбанка">
            Поръчки
          </p>
          <p (click)="logout()">
            <img src="/images/shared/home/dropdown-options/logout.png" alt="Иконка на вратичка">
            Излез
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
