<div class="search-holder">
  <div class="left-side">
    <h1>Твоето търсене</h1>

    <div class="filters-holder">
      <div class="filters top">
        <div class="filter">
          <span class="filter-text">Търсене за:</span>
          <div class="filter-options">
            <label class="radio-button"
                   [ngClass]="{ 'selected': searchParams.petType === '1' }"
                   (click)="onPetTypeChange('1'); onSearch()">
              <input type="radio" [(ngModel)]="searchParams.petType" [value]="'1'" class="hidden-radio"/>
              <img src="/images/shared/dog.svg" alt="Куче" />
            </label>

            <label class="radio-button"
                   [ngClass]="{ 'selected': searchParams.petType === '2' }"
                   (click)="onPetTypeChange('2'); onSearch()">
              <input type="radio" [(ngModel)]="searchParams.petType" [value]="'2'" class="hidden-radio"/>
              <img src="/images/shared/cat.svg" alt="Котка" />
            </label>
          </div>
        </div>
        <div class="dates-filter">
          <div class="filter">
            <span class="filter-text">Начална дата:</span>
            <div class="filter-options">
              <p-calendar
                [(ngModel)]="searchParams.startDate"
                (ngModelChange)="onStartDateChange($event); onSearch()"
                [showIcon]="true"
                [dateFormat]="'yy-mm-dd'"
                [minDate]="today"
                [maxDate]="maxDateForStartDate"
                dataType="string"
                inputId="startDate"
                class="custom-calendar"
                placeholder="29.09.2025"
              ></p-calendar>
            </div>
          </div>

          <div class="filter">
            <span class="filter-text">Крайна дата:</span>
            <div class="filter-options">
              <p-calendar
                [(ngModel)]="searchParams.endDate"
                (ngModelChange)="onEndDateChange($event); onSearch()"
                [showIcon]="true"
                [dateFormat]="'yy-mm-dd'"
                [minDate]="minDateForEndDate"
                dataType="string"
                inputId="endDate"
                placeholder="29.09.2025"
              ></p-calendar>
            </div>
          </div>
        </div>
      </div>

      <div class="filters">
        <div class="filter">
          <span class="filter-text">Търсена услуга:</span>
          <div class="filter-options">
            <div class="custom-dropdown" (click)="toggleDropdown()">
              <div class="selected-option">
                <img *ngIf="selectedOption?.image" [src]="selectedOption?.image" alt="Иконка на избраната услуга" />
                {{ selectedOption?.text || 'Изберете услуга' }}
                <span class="arrow-down"><img src="/images/shared/dropdown-arrow.svg" alt="Иконка за отваряне на менюто"></span>
              </div>

              <div class="dropdown-options" *ngIf="dropdownOpen">
                <div
                  *ngFor="let option of serviceOptions"
                  class="dropdown-option"
                  (click)="selectOption(option, $event); onSearch()">
                  <img [src]="option.image" alt="Иконка за {{option.text}}" />
                  {{ option.text }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter">
          <span class="filter-text">Цена:</span>
          <div class="filter-options">
            <span>0</span>
            <p-slider
              [(ngModel)]="priceRange"
              [range]="true"
              (onChange)="updatePriceRange($event); onSearch()"
            ></p-slider>
            <span>200</span>
          </div>
        </div>

        <div class="filter">
          <span class="filter-text">Район:</span>
          <google-autocomplete
            [inputValue]="formattedAddress"
            (placeSelected)="handlePlaceSelected($event);">
          </google-autocomplete>
        </div>
      </div>

      <div class="right-button-holder">
        <button class="btn secondary-button-small" (click)="onSearch()">Търси</button>
      </div>
    </div>
    <div class="google-map mobile"
         [ngClass]="{ 'expanded': isMapExpanded }"
         (click)="toggleMap()">
      <google-map [height]="'300px'" [width]="'400px'" [options]="mapOptions">
        <map-marker *ngFor="let marker of mapMarkers"
                    [label]="marker.label || '0'"
                    [position]="marker.position || { lat: 0, lng: 0 }"
                    [title]="marker.title || 'Unknown title'">
        </map-marker>

      </google-map>

    </div>
    <div class="search-results-holder">
      <div *ngFor="let searchResult of searchResults; let i = index;" class="search-result">
        <div class="search-result-info">
          <div class="image-holder">
            <img [src]="searchResult.photoUrl" alt="Снимка на {{searchResult.firstName}}">
          </div>
          <div class="sitter-info">
            <span class="sitter-number">#{{ i + 1 }}</span>
            <span class="sitter-name">{{searchResult.firstName}} {{searchResult.lastName}}</span>
            <span class="sitter-description">{{searchResult.description| slice:0:150 }} ...</span>
          </div>
          <div class="service-price">
            <span>цени от</span>
            <div class="price">
              <span>{{ searchResult.servicePrice }}</span>
              <span>лв.</span>
            </div>
          </div>
        </div>
        <div class="right-button-holder">
          <button class="btn secondary-button-small" (click)="viewProfile(searchResult.id)">Виж повече</button>
        </div>
      </div>
      <div class="no-results" *ngIf="searchResults.length === 0">
        <img src="/images/shared/access-denied.svg" alt="Объркано момиче">
        <span>Няма намерени резултати</span>
      </div>
    </div>
  </div>
  <div class="right-side google-map desktop">
    <google-map height="100%" width="100%" [options]="mapOptions">
      <map-marker *ngFor="let marker of mapMarkers"
                  [label]="marker.label || '0'"
                  [position]="marker.position || { lat: 0, lng: 0 }"
                  [title]="marker.title || 'Unknown title'">
      </map-marker>
    </google-map>
  </div>
</div>
