@use '../../../../../style/abstracts/colors';
@use '../../../../../style/abstracts/typography';
@use '../../../../../style/breakpoints/breakpoints' as *;

.search-holder {
  height: calc(100vh - 111px);
  padding-inline: 63px 0;
  display: flex;
  gap: 100px;

  .left-side {
    width: 60%;
    margin-top: 30px;

    h1 {
      margin-bottom: 40px;
      font-size: typography.$font-size-2xl;
    }

    .filters-holder {
      padding: 30px 45px 30px 20px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      border: 1px solid colors.$primary-text-color;
      border-radius: 10px;

      .filters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .filter {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .filter-text {
            font-size: typography.$font-size-md;
            font-weight: typography.$semi-bold;
          }

          .filter-options {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            .radio-button {
              background-color: colors.$secondary-background;

              img {
                width: 35px;
              }
            }

            .radio-button.selected {
              background-color: colors.$accent-color;
            }

            .custom-dropdown {
              position: relative;
              cursor: pointer;
              user-select: none;

              .selected-option {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;

                img {
                  width: 40px;
                }

                .arrow-down {
                  margin-left: auto;
                  width: 25px;
                }

              }

              .dropdown-options {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                z-index: 100;
                background-color: colors.$secondary-background;
                overflow-y: auto;

                .dropdown-option {
                  padding: 10px;
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  cursor: pointer;

                  img {
                    width: 30px;
                  }
                }

                .dropdown-option:hover {
                  background: colors.$accent-color;
                }

              }
            }
          }
        }

        .dates-filter {
          display: flex;
          gap: 40px;
        }
      }

      .top {
        grid-template-columns: 1fr 2fr;
      }
    }

    .sort-by {
      padding-top: 20px;
      display: flex;
      justify-content: flex-end;

      .sort-dropdown {
        margin: 10px 0;
        display: flex;
        align-items: center;
        gap: 10px;

        label {
          font-size: typography.$font-size-md;
          font-weight: typography.$bold
        }

        select {
          padding: 6px 10px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: colors.$secondary-background;

          &:focus {
            outline: none;
          }
        }
      }

    }

    .search-results-holder {
      margin-block: 60px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      gap: 42px;
      max-height: 50%;
      overflow-y: auto;

      .search-result-rating {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        span {
          font-weight: typography.$bold;
        }
      }

      .search-result {
        padding-bottom: 27px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid colors.$secondary-text-color;

        &-info {
          display: grid;
          grid-template-columns: 1fr 4fr 1fr;
          gap: 36px;

          .image-holder {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .sitter-info {
            display: flex;
            flex-direction: column;

            .sitter-number {
              font-size: typography.$font-size-lg;
              font-weight: typography.$bold;
            }

            .sitter-name {
              font-size: typography.$font-size-xl;
              font-weight: typography.$semi-bold;
            }

            .sitter-description {
              text-align: justify;
              width: 50ch;
            }

            .sitter-location {
              margin-top: 10px;
              display: flex;
              align-items: center;
              gap: 5px;
              font-weight: typography.$semi-bold;
            }
          }

          .service-price {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            span {
              font-size: typography.$font-size-md;
              font-weight: typography.$semi-bold;
            }

            .price {
              display: flex;
              gap: 10px;
              align-items: flex-end;

              span:first-child {
                margin-bottom: -8px;
                font-size: typography.$font-size-2xl;
                font-weight: typography.$semi-bold;
              }
            }
          }
        }
      }

      .no-results {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 350px;
        }

        span {
          font-size: typography.$font-size-lg;
          font-weight: typography.$semi-bold;
          text-align: center;
        }
      }

      /* Custom scrollbar styling */
      &::-webkit-scrollbar {
        width: 8px; /* Adjust width of the scrollbar */
      }

      &::-webkit-scrollbar-thumb {
        background-color: colors.$accent-color; /* Set the color of the scrollbar thumb */
        border-radius: 10px; /* Optional: round the corners of the thumb */
      }

      &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Set the color of the scrollbar track */
        border-radius: 10px; /* Optional: round the corners of the track */
      }
    }


  }

  .right-side {
    width: 40%;
    height: calc(100vh - 110px);
    overflow: hidden;
  }

  @include for-phone-only {
    padding-inline: 20px;

    .left-side {
      width: 100%;

      .filters-holder {
        padding: 25px;

        .filters {
          display: flex;
          flex-wrap: wrap;
          gap: 40px;
        }
      }

      .mobile {
        display: flex;

        google-map {
          width: 100%;
        }
      }

      .search-results-holder {
        margin-block: 40px;
        padding-right: 0;
        max-height: unset;
        overflow-y: visible;

        .search-result {
          padding-bottom: 27px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-bottom: 1px solid colors.$secondary-text-color;

          &-info {
            position: relative;
            display: flex;
            flex-direction: column;

            .image-holder {
              width: 120px;
              height: 120px;
            }

            .sitter-info {
              display: flex;
              flex-direction: column;

              .sitter-description {
                width: 100%;
              }
            }

            .service-price {
              position: absolute;
              top: 0;
              right: 0;
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }

    .desktop {
      display: none;
    }
  }
}

::ng-deep p-slider {
  margin-right: 10px;
  width: 180px;

  .p-slider-horizontal {
    background-color: colors.$secondary-background;
  }

  .p-slider-range {
    background-color: colors.$accent-color;
  }

  .p-slider-handle {
    width: 15px;
    height: 15px;
    margin-top: -8px;
    border: 1px solid colors.$accent-color;
  }

  .p-slider-handle:hover {
    background-color: colors.$accent-color;
  }
}

.p-slider-range {
  background: colors.$accent-color;
}

::ng-deep p-calendar {
  .p-calendar {
     .p-inputtext {
       padding-left: 10px;
       background-color: #f3f3f3;
       border: 1px solid colors.$primary-text-color;
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
    }

    .p-button {
      background-color: colors.$secondary-text-color;
      border: none;

      .p-icon path {
        color: white;
      }
    }


    .p-datepicker table td > span.p-highlight {
      background-color: colors.$accent-color;
    }
  }
}

.google-map.mobile {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 1000;
  overflow: hidden;

  @include for-phone-only {
    display: flex;
  }
}

.google-map.mobile.expanded {
  width: 90%;
  height: 300px;
  border-radius: 0;
}

.google-map.mobile .map-container {
  width: 100%;
  height: 100%;
  transition: height 0.3s ease;
}

.google-map.mobile .drag-handle {
  width: 100%;
  height: 10px;
  background: #333;
  cursor: row-resize;
  position: absolute;
  bottom: 0;
  left: 0;
}
