@use '../../../../../style/abstracts/typography';
@use '../../../../../style/abstracts/colors';

.create-profile-head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    display: flex;
    align-items: center;
    gap: 43px;
  }

  &-left {
    .profile-image {
      width: 169px;
      height: 169px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .profile-name {
      .role {
        padding: 0 5px 5px 5px;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: typography.$font-size-sm;
        font-weight: typography.$bold;
        border-bottom: 2px solid colors.$accent-color;

        img {
          height: 20px;
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &-title {
      margin-bottom: 10px;
      padding: 5px;
      font-weight: typography.$bold;
      background-color: colors.$accent-color;
      border-radius: 5px;
    }

    .animals {
      display: flex;
      gap: 25px;

      .animal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;

        img {
          width: 50px;
        }

        .animal-name {
          font-weight: typography.$bold;
        }
      }
    }
  }
}

.create-profile-main {
  &-left-side > .additional-information > .form-group > span {
    margin-top: 10px;
    line-height: 30px ;
  }
}
