<section class="services-holder">
  <div class="container">
    <div class="heading">
      <h2>Какво ще намерите в <span class="orange">Лапички+</span></h2>
    </div>
    <div class="services">
      <div class="service service-walking">
        <div class="heading">
          <img class="service-icon" src="/images/desktop/post/service-walking.svg" alt="">
          <div class="title">
            <h3>Разходки</h3>
            <span>из квартала</span>
          </div>
        </div>
        <div class="description">
          <p>Поверете кучето си на доверен гледач, който ще разходи вашия лобюмец в дните, в който нямате нужното време.</p>
        </div>
        </div>
      <div class="service service-vertical service-daily-care">
        <div class="heading">
          <img class="service-icon" src="/images/desktop/post/service-daily-care.svg" alt="">
          <div class="title">
            <h3>Дневна грижа</h3>
            <span>за когато те няма</span>
          </div>
        </div>
        <div class="description">
          <p>Доверете се на опитен гледач, който ще посети дома ви, за да нахрани, разходи и обгрижи вашия любимец, осигурявайки му комфорт и компания през деня.</p>
        </div>
      </div>
      <div class="service service-vertical service-boarding">
        <div class="heading">
          <img class="service-icon" src="/images/desktop/post/service-pet-boarding.svg" alt="">
          <div class="title">
            <h3>Престой</h3>
            <span>в дома на гледач</span>
          </div>
        </div>
        <div class="description">
          <p>Оставете домашния си любимец в уютна и сигурна среда при доверен гледач, който ще се грижи за него с внимание и любов, докато сте ангажирани или на път.</p>
        </div>
      </div>
      <div class="service service-training">
        <div class="heading">
          <img class="service-icon" src="/images/desktop/post/service-pet-training.svg" alt="">
          <div class="title">
            <h3>Тренировки</h3>
            <span>за непослушковците</span>
          </div>
        </div>
        <div class="description">
          <p>Намерете квалифициран треньор, който да обучи вашия домашен любимец на най-важните умения за един пълноценне „лапешки“ живот.</p>
        </div>
      </div>
    </div>
  </div>
</section>
